Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

fix(372#): Signal TTL 600s→7800s — sidecar offset 有効時間を retrain 間隔に整合
  scripts/v460/lib/sidecar_types.py
Due: type-check, secrets-hygiene, test

refactor(372#): E11/E12 解消 — skip_gate を ztb/ml/ へ移動 + VG JSONL 構造化ログ
  scripts/v460/analysis/vg_and_trend.py
  scripts/v460/lib/maker_risk_guards.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/ml/skip_gate_features.py
  tests/unit/v460/test_372_skip_gate_move_and_vg_jsonl.py
  tests/unit/v460/test_skip_gate_d8.py
  ztb/ml/skip_gate.py
  ztb/ml/skip_gate_features.py
Due: type-check, secrets-hygiene, test

fix(373#): CRITICAL/IMPORTANT 安全性修正 4件
  scripts/v460/lib/balance_checker.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/sidecar_signal_io.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_373_critical_fixes.py
Due: type-check, secrets-hygiene, test

fix(373#): F6/F8/F9 残課題解消 + ドキュメント整備
  docs/v460/373_phg_fix_post_sac_audit_and_safety_hardening.md
  docs/v460/index.md
  scripts/v460/lib/cancel_reasons.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/maker_microstructure.py
  scripts/v460/lib/order_monitor.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_373_critical_fixes.py
Due: type-check, secrets-hygiene, test

feat(374#): Phase 3.1 Proportional Boost 実装 + バリデーション横展開
  CHANGELOG.md
  configs/v460/fill_test.yaml
  docs/v460/374_ph3_design_sac_continuous_value_and_market_theory_integration.md
  docs/v460/375_ph3_rev_369_374_profit_first_and_sac_scope_review.md
  docs/v460/376_gemini_ph3_comprehensive_review_and_v456_revival.md
  docs/v460/377_ph3_unified_direction_course_correction.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/sidecar_types.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_374_proportional_boost.py
Due: type-check, secrets-hygiene, test

feat(377#): M2-M5 proxy features in build_features.py + 377# v2.0 design update
  CHANGELOG.md
  docs/v460/377_ph3_unified_direction_course_correction.md
  docs/v460/index.md
  scripts/v460/build_features.py
Due: type-check, secrets-hygiene, test

379# Pre-366# 市場理論10システムSAC統合: 5新特徴量 + build_features拡張 + ph3設計
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/377_ph3_unified_direction_course_correction.md
  docs/v460/379_pre366_sac_integration.md
  scripts/v460/build_features.py
  scripts/v460/update_medium_parquet.py
  tests/unit/core/features/test_market_theory_features.py
  ztb/features/market_theory.py
  ztb/features/unified_feature.py
Due: type-check, secrets-hygiene, test

chore(tests): stabilize non-v460 unit cleanup and perf drift
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/trading/test_heavy_env_regime_adaptation.py
  tests/unit/trading/test_live.py
  tests/unit/training/curriculum/test_balance_curriculum_layer5.py
  tests/unit/training/mtf/test_mtf_weight_manager_training_mtf.py
  tests/unit/training/policies/test_strict_masked_policy.py
  tests/unit/training/test_action_recording_fixes.py
  tests/unit/training/test_algorithm_switching.py
  tests/unit/training/test_analyze_results_methods.py
  tests/unit/training/test_checkpoint_manager.py
  tests/unit/training/test_error_handling_strategy.py
  tests/unit/training/test_reward_components_persistence.py
  tests/unit/training/test_sac_trainer_regime_adaptation.py
  tests/unit/training/test_target_entropy.py
  tests/unit/training/test_trainers_sac.py
  tests/unit/training/test_training_resume.py
  tests/unit/training/test_unified_config_manager.py
  tests/unit/training/test_unified_trainer.py
  tests/unit/utils/test_numpy_compatibility.py
  tests/unit/utils/test_schema_validation.py
  tests/unit/utils/test_validation_utils.py
  tests/unit/v459/test_reporter_v459.py
  ztb/trading/live/simulation/sim_broker.py
  ztb/training/policies/strict_masked_policy.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/training/unified_trainer/base/callbacks.py
  ztb/utils/torch_utils.py
Due: type-check, secrets-hygiene, test

chore(tests): resolve g2 sac config drift in v460 broad
  CHANGELOG.md
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_356_g2_sac_blockers.py
Due: type-check, secrets-hygiene, test

chore(v460): add parquet partial-load helper and trim env setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/data_loader.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

chore(v460): trim scheduler io and mark heavy env integration slow
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/sidecar_signal_io.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

fix(v460): 379# fix parquet features and restore yaml (17 features) with z-score clipping
  CHANGELOG.md
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/add_market_theory_features.py
  scripts/v460/build_features.py
  scripts/v460/lib/data_loader.py
  scripts/v460/lib/sidecar_signal_io.py
  tests/unit/trading/test_heavy_env_regime_adaptation.py
  tests/unit/trading/test_live.py
  tests/unit/training/curriculum/test_balance_curriculum_layer5.py
  tests/unit/training/mtf/test_mtf_weight_manager_training_mtf.py
  tests/unit/training/policies/test_strict_masked_policy.py
  tests/unit/training/test_action_recording_fixes.py
  tests/unit/training/test_algorithm_switching.py
  tests/unit/training/test_analyze_results_methods.py
  tests/unit/training/test_checkpoint_manager.py
  tests/unit/training/test_error_handling_strategy.py
  tests/unit/training/test_reward_components_persistence.py
  tests/unit/training/test_sac_trainer_regime_adaptation.py
  tests/unit/training/test_target_entropy.py
  tests/unit/training/test_trainers_sac.py
  tests/unit/training/test_training_resume.py
  tests/unit/training/test_unified_config_manager.py
  tests/unit/training/test_unified_trainer.py
  tests/unit/utils/test_numpy_compatibility.py
  tests/unit/utils/test_schema_validation.py
  tests/unit/utils/test_validation_utils.py
  tests/unit/v459/test_reporter_v459.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_v460_core.py
  ztb/features/market_theory.py
  ztb/trading/live/simulation/sim_broker.py
  ztb/training/policies/strict_masked_policy.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/training/unified_trainer/base/callbacks.py
  ztb/utils/torch_utils.py
Due: type-check, secrets-hygiene, test

chore(v460): update g2_sac_train.yaml with load mitigation configs (1 seed, 20K steps)
  configs/v460/experiments/g2_sac_train.yaml
Due: secrets-hygiene

fix(v460): early torch import in run_experiment to prevent WinError 1114 DLL load failure
  scripts/v460/run_experiment.py
Due: type-check, secrets-hygiene, test

chore(v460): close prompt cleanup residuals and trim hotspots
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/conftest.py
  tests/integration/test_custom_ppo_integration.py
  tests/unit/config/test_config_loader.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

fix(v460): fix PyTorch DLL load error by pre-importing torch in sac_train.py and sac_retrain_scheduler.py
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/conftest.py
  tests/integration/test_custom_ppo_integration.py
  tests/unit/config/test_config_loader.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

feat(ml): implement P3-C OOS neutral bias fallback & enhance IO cache
  scripts/v460/lib/sidecar_signal_io.py
  scripts/v460/ml/sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

test(v460): add P3-C neutral fallback and sidecar cache tests (31 passed)
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

docs(v460): update 379/366 docs with P3-A/B/C completion status and issue tracker
  docs/v460/366_ph3_market_theory_proposals_and_tech_debt.md
  docs/v460/379_pre366_sac_integration.md
Due: none

379# sac_common.py: SAC訓練共通ユーティリティ抽出 + YAML本番復元 + data_loader max_rows
  configs/v460/experiments/g2_sac_train.yaml
  scripts/v460/lib/data_loader.py
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

379# docs: I4/I6 修正済みに更新 + v3.1 revision追記
  docs/v460/379_pre366_sac_integration.md
Due: none

fix(379#): watchdog UNKNOWN→NOT_RUNNING エスカレーション + fill_test 再起動
  CHANGELOG.md
  ops/windows/fill_test_watchdog.ps1
Due: none

379# Perf: inspect.signature キャッシュ化 + checkpoint eval 5Kステップ制限
  scripts/v460/lib/tasks/sac_train.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

379# Perf: evaluate_model_oos に max_steps_per_episode=10K 導入
  scripts/v460/lib/sac_common.py
Due: type-check, secrets-hygiene, test

379# Fix: 閾値 0.3333→0.10 + learning_starts 100→1000 (ROI=0根本修正)
  configs/v460/experiments/g2_sac_train.yaml
Due: secrets-hygiene

379# Critical Fix: ローカルSB3スタブが本物をシャドウ → SAC訓練が無操作だった
  _sb3_test_stub/__init__.py
  _sb3_test_stub/common/__init__.py
  _sb3_test_stub/common/base_class.py
  _sb3_test_stub/common/buffers.py
  _sb3_test_stub/common/callbacks.py
  _sb3_test_stub/common/evaluation.py
  _sb3_test_stub/common/logger.py
  _sb3_test_stub/common/monitor.py
  _sb3_test_stub/common/policies.py
  _sb3_test_stub/common/torch_layers.py
  _sb3_test_stub/common/type_aliases.py
  _sb3_test_stub/common/utils.py
  _sb3_test_stub/common/vec_env.py
  scripts/v460/diagnose_sac_actions.py
  sitecustomize.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  ztb/support/sb3_compat.py
Due: type-check, secrets-hygiene, test

docs(380#): fill test 7日間取引改善分析レポート
  docs/v460/380_fill_test_trading_improvement_analysis.md
  docs/v460/index.md
Due: none

381# Gemini Codex Review: 380# Rev.2 軌道修正 + P0/P1 YAML適用
  configs/v460/fill_test.yaml
  docs/v460/380_fill_test_trading_improvement_analysis.md
  docs/v460/381_fill_test_analysis_codex_review.md
  docs/v460/index.md
Due: secrets-hygiene

379# docs: SB3スタブ修正セッションログ追記
  docs/v460/037_phg_rpt_refactoring_session_log.md
Due: none

382# docs: Codex/Gemini レビュープロンプト作成 (SB3スタブ修正+SAC訓練パイプライン)
  prompts/382_codex_sb3_stub_review.md
  prompts/382_gemini_sb3_stub_review.md
Due: none

384# cleanup: stable_baselines3/ スタブディレクトリ完全削除
  stable_baselines3/__init__.py
  stable_baselines3/common/__init__.py
  stable_baselines3/common/base_class.py
  stable_baselines3/common/buffers.py
  stable_baselines3/common/callbacks.py
  stable_baselines3/common/evaluation.py
  stable_baselines3/common/logger.py
  stable_baselines3/common/monitor.py
  stable_baselines3/common/policies.py
  stable_baselines3/common/torch_layers.py
  stable_baselines3/common/type_aliases.py
  stable_baselines3/common/utils.py
  stable_baselines3/common/vec_env.py
Due: type-check, secrets-hygiene, test

docs: 382#/383# レビュードキュメント追加 + セッションログ更新 + 最適化結果
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/382_ph3_rev_379_sb3_stub_and_g2_pipeline_review.md
  docs/v460/383_gemini_sb3_pipeline_and_codex_review.md
  docs/v460/index.md
  optimization_results/index.json
  optimization_results/integration_test_v0091_20260311.json
  optimization_results/integration_test_v0093_20260312.json
  optimization_results/versions.json
  optimization_results/workflow_test_v0092_20260311.json
  optimization_results/workflow_test_v0094_20260312.json
  test_ensemble_results.json
Due: secrets-hygiene

384# pipeline fixes: Codex/Gemini レビュー CRITICAL-1/2 + HIGH-1/2 修正
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/384_cross_validation_codex_gemini_reviews.md
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/run_experiment.py
  sitecustomize.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_384_pipeline_fixes.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

chore: レビュードキュメント整理 (reviews/2026-03/) + ztb/optimization軽微修正
  docs/v460/index.md
  docs/v460/reviews/2026-03/382_ph3_rev_379_sb3_stub_and_g2_pipeline_review.md
  docs/v460/reviews/2026-03/383_gemini_sb3_pipeline_and_codex_review.md
  optimization_results/2026/2026-03/integration_test_v0091_20260311.json
  optimization_results/2026/2026-03/integration_test_v0093_20260312.json
  optimization_results/2026/2026-03/workflow_test_v0092_20260311.json
  optimization_results/2026/2026-03/workflow_test_v0094_20260312.json
  optimization_results/index.json
  optimization_results/versions.json
  test_ensemble_results.json
  ztb/training/entropy_temperature.py
  ztb/training/unified_optimizer.py
Due: type-check, secrets-hygiene, test

385# FIX: transaction_cost 0.001→0.0 (000# maker 0% 前提準拠) + gamma実験YAML
  configs/v460/experiments/g2_sac_gamma095.yaml
  configs/v460/experiments/g2_sac_gamma099.yaml
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/385_next_steps_fee_fix_gamma_experiments.md
  tests/unit/v460/test_385_transaction_cost.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
