Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

session037: trim time/mock overhead and config setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/tasks/sac_train.py
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_266_market_theory_protocol.py
  tests/unit/v460/test_273_kill_time_limit_halt_untick_recovery_grace.py
  tests/unit/v460/test_build_features_pipeline.py
  tests/unit/v460/test_v460_core.py
  tests/unit/v460/test_websocket_client.py
Due: type-check, secrets-hygiene, test

session037: trim websocket dispatch and microstructure test setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
Due: none

398# G3 pipeline selfreview: CRITICAL portfolio_value fix + E2E validation
  configs/v460/experiments/g2_sac_g3_validation.yaml
  configs/v460/experiments/g2_sac_gamma095.yaml
  configs/v460/experiments/g2_sac_gamma095_reward_tuned.yaml
  configs/v460/experiments/g2_sac_gamma099.yaml
  configs/v460/experiments/g2_sac_train.yaml
  configs/v460/experiments/g2_sac_warmstart.yaml
  docs/v460/398_ph3_g3_pipeline_selfreview_fix.md
  scripts/v460/lib/sac_common.py
  scripts/v460/run_experiment.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_396_g3_pipeline.py
Due: type-check, secrets-hygiene, test

session037: reduce heavy env setup and maker price test overhead
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_258_as_reservation_vpin_continuous_protocol.py
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

session037: compress build-features proxy and real-mode fixtures
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_build_features_pipeline.py
Due: type-check, secrets-hygiene, test

399# G2/G3 judgment logic consolidation + sac_train improvements
  scripts/v460/lib/gate_judgment_core.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/run_experiment.py
  scripts/v460/run_gate_check.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_396_g3_pipeline.py
Due: type-check, secrets-hygiene, test

session037: tighten market theory stubs and fast-cycle helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_266_market_theory_protocol.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

session037: share skip-gate helpers and isolate v460 hot paths
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/_skip_gate_test_helpers.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_266_market_theory_protocol.py
  tests/unit/v460/test_274_pattern_c_theory_cleanup.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_ob_recorder.py
  tests/unit/v460/test_retrain_hot_reload.py
  tests/unit/v460/test_skip_gate_d8.py
  tests/unit/v460/test_v460_core.py
  tests/unit/v460/test_websocket_client.py
Due: type-check, secrets-hygiene, test

399# Production experiment + train_end_index fix + docs
  configs/v460/experiments/g2_sac_gamma095_reward_tuned_fast.yaml
  docs/v460/399_gate_judgment_consolidation.md
  scripts/v460/lib/tasks/sac_train.py
Due: type-check, secrets-hygiene, test

400# Reward Clean: scale_adjustment fix + balance_shaping BUG FIX + v459知見適用
  CHANGELOG.md
  configs/v460/experiments/g2_sac_reward_clean.yaml
  docs/v460/400_reward_clean_analysis.md
  tests/unit/trading/environment/components/test_behavioral_penalty_calculator.py
  ztb/trading/environment/components/behavioral_penalty_calculator.py
  ztb/trading/environment/components/calculators/reward_calculator.py
Due: type-check, secrets-hygiene, test

402# 時間帯パフォーマンス根本原因分析 + 397# 再起動後検証
  docs/v460/402_time_guard_root_cause_and_397_review.md
  docs/v460/index.md
Due: none

405# Offset Ceiling Pipeline Fix: sell-side intermediate cap deadlock解消
  docs/v460/405_offset_ceiling_pipeline_fix_selfreview.md
  docs/v460/index.md
  scripts/v460/lib/maker_microstructure.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/maker_regime_boost.py
  scripts/v460/lib/maker_risk_guards.py
  tests/unit/v460/test_175_code_review_sweep2.py
  tests/unit/v460/test_258_as_reservation_vpin_continuous_protocol.py
  tests/unit/v460/test_266_market_theory_protocol.py
  tests/unit/v460/test_405_offset_ceiling_pipeline.py
Due: type-check, secrets-hygiene, test

406# Self-Review 400#-405# + 未コミット成果物回収 + ゴーストファイル問題発見
  CHANGELOG.md
  docs/v460/401_deep_investigation_findings.md
  docs/v460/404_ph3_rev_402_403_time_guard_second_opinion.md
  docs/v460/406_selfreview_400_405_deep_dive.md
  docs/v460/index.md
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

session037: document environment dead code analysis
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/408_dead_code_analysis.md
Due: none

408# doc naming fix + index.md update + Codex session 038 prompt
  docs/v460/408_phg_rpt_dead_code_analysis.md
  docs/v460/index.md
  prompts/codex_session_038_broad_discovery.md
Due: none

407# doc: Ghost File Cleanup ドキュメント作成 + index.md リンク追加
  docs/v460/407_phg_fix_ghost_file_cleanup.md
  docs/v460/409_phg_rpt_broad_discovery_scan.md
  docs/v460/index.md
Due: none

session038: add broad discovery scan report
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
Due: none

409# broad discovery scan + C1/C3/H3 fixes: StatisticsCalculator maxlen, exception logging, zero-div guard (11 tests)
  docs/v460/409_phg_rpt_broad_discovery_scan.md
  docs/v460/index.md
  tests/unit/v460/test_409_improvement_fixes.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/dynamic_reward_shaper.py
  ztb/trading/environment/components/statistics_calculator.py
Due: type-check, secrets-hygiene, test

Codex session 039 prompt: 409# CRITICAL/HIGH fixes (T1-T10)
  prompts/codex_session_039_409_critical_fixes.md
Due: none

Codex prompt: 408#/409# 統合修正 (T1-T16) + カスケード発見プロトコル追加、セッション番号を廃止しドキュメント番号に統一
  prompts/codex_038_broad_discovery.md
  prompts/codex_408_409_fixes.md
Due: none

409# Codex T1-T16 + G3 corr gate + reward-clean G3 PASS
  CASCADE_DISCOVERIES.md
  CHANGELOG.md
  archived/scripts/testing/test_simplified_reward_calculator.py
  configs/v460/base.yaml
  configs/v460/gate_thresholds.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/408_phg_rpt_dead_code_analysis.md
  docs/v460/409_phg_rpt_broad_discovery_scan.md
  docs/v460/index.md
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/gate_judgment_core.py
  scripts/v460/lib/tasks/sac_train.py
  tests/conftest.py
  tests/integration/test_v459_phase0_integration.py
  tests/unit/components/reward/test_metrics.py
  tests/unit/v460/test_396_g3_pipeline.py
  tests/unit/v460/test_409_corr_gate.py
  tests/unit/v460/test_codex_408_409_fixes.py
  ztb/data/marketdata_registry.py
  ztb/trading/environment/__init__.py
  ztb/trading/environment/archived/bridge/bridge.py
  ztb/trading/environment/archived/reward/metrics.py
  ztb/trading/environment/archived/reward/simplified_reward_calculator.py
  ztb/trading/environment/components/__init__.py
  ztb/trading/environment/components/calculators/__init__.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/data_processor.py
  ztb/trading/environment/components/reward/__init__.py
  ztb/trading/environment/components/reward_calculator.py
  ztb/trading/environment/components/rewards/forced_balance.py
  ztb/trading/environment/heavy_env/core.py
  ztb/trading/environment/heavy_env/mixins/initialization.py
  ztb/trading/environment/utils/config.py
  ztb/trading/environment/utils/gc_guard.py
  ztb/trading/live/core/health_monitor.py
  ztb/trading/live/core/idempotency_store.py
  ztb/trading/live/core/service_runner.py
  ztb/trading/live/simulation/replay_market.py
  ztb/trading/performance_optimizer.py
Due: type-check, secrets-hygiene, test

410# G3 PASS deep dive + G3.1-stress formal definition in 000#
  CHANGELOG.md
  docs/v460/000_ph0_plan_project_proposal.md
  docs/v460/410_ph4_rpt_g3_pass_deep_dive.md
  docs/v460/index.md
Due: none

411# Seed感度構造分析 + policy_kwargs実装 + reward-clean-small config
  CHANGELOG.md
  configs/v460/experiments/g2_sac_reward_clean_small.yaml
  docs/v460/411_phg_rpt_seed_sensitivity_analysis.md
  docs/v460/index.md
  scripts/v460/lib/tasks/sac_train.py
Due: type-check, secrets-hygiene, test

413# レビュー反映: reward_profit_corr定義修正 + M5訂正 + 実験config分離
  CHANGELOG.md
  configs/v460/experiments/g2_sac_reward_clean_m1.yaml
  configs/v460/experiments/g2_sac_reward_clean_m1m2.yaml
  docs/v460/410_ph4_rpt_g3_pass_deep_dive.md
  docs/v460/411_phg_rpt_seed_sensitivity_analysis.md
  docs/v460/412_phg_rev_410_411_sac_hparam_seed_review.md
  docs/v460/413_phg_rev_410_412_gemini_second_opinion_and_self_review.md
  docs/v460/index.md
Due: secrets-hygiene

414# 20K Attribution実験 A/B/C 深堀り分析: Baseline最強, M1棄却, M2 corr改善だがROI犠牲
  CHANGELOG.md
  docs/v460/414_ph4_rpt_20k_attribution_experiment.md
  docs/v460/index.md
Due: none

418# Execution Final Clamp + Route-to-Kill Deadlock Fix
  docs/v460/418_execution_final_clamp_deadlock.md
  scripts/v460/lib/cancel_reasons.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/orchestrator_balance.py
  tests/unit/v460/test_418_final_clamp_deadlock.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

419# 418# self-review: CancelReason Literal + parser配線 + ceiling DRY + spread guard + guard classifier + hot reload + test拡張
  configs/v460/fill_test.yaml
  scripts/v460/lib/cancel_reasons.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/guard_reason_classifier.py
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_253_hot_reload_dead_config_getattr_bare_except.py
  tests/unit/v460/test_418_final_clamp_deadlock.py
Due: type-check, secrets-hygiene, test

419# doc: 418# Execution Final Clamp + Route-to-Kill + self-review ドキュメント追加
  docs/v460/418_ph2_impl_execution_final_clamp_and_route_to_kill.md
  docs/v460/index.md
Due: none

420# 416#/417# deferred: start_git_sha固定 + executor_offset_stages記録 + side切替可観測性 + hard_skip_mult有効化
  configs/v460/fill_test.yaml
  docs/v460/420_observability_deferred_items.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_418_final_clamp_deadlock.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

415# 100K forensic analysis: G3 FAIL root cause = val_ratio confound
  docs/v460/415_ph4_rpt_100k_forensic_analysis.md
Due: none

416# review: F6 best_model unused in G3 eval + 5000-step truncation blind spot
  docs/v460/415_ph4_rpt_100k_forensic_analysis.md
Due: none

docs: 改番 415->422 100K forensic, 418_ph2_impl->421 rename, index.md 417-422補完
  docs/v460/415_fill_test_log_analysis.md
  docs/v460/416_ph2_rev_415_fill_test_improvement_and_blindspots.md
  docs/v460/417_ph2_rev_415_416_gemini_second_opinion_and_re_aggregation.md
  docs/v460/419_self_review_421_final_clamp_deadlock.md
  docs/v460/420_observability_deferred_items.md
  docs/v460/421_ph2_impl_execution_final_clamp_and_route_to_kill.md
  docs/v460/422_ph4_rpt_100k_forensic_analysis.md
  docs/v460/index.md
  tests/unit/v460/test_421_final_clamp_deadlock.py
Due: type-check, secrets-hygiene, test

docs: ファイル名を NNN_phX_type_ 規則に統一 (415/418/419/420)
  docs/v460/415_ph2_rpt_fill_test_log_analysis.md
  docs/v460/416_ph2_rev_415_fill_test_improvement_and_blindspots.md
  docs/v460/417_ph2_rev_415_416_gemini_second_opinion_and_re_aggregation.md
  docs/v460/418_ph2_rpt_execution_final_clamp_deadlock.md
  docs/v460/419_ph2_rev_421_final_clamp_deadlock.md
  docs/v460/420_ph2_impl_observability_deferred_items.md
  docs/v460/index.md
Due: none

docs: 425# 423/424 validity assessment + blind spots (val_ratio×reward交互作用, S1'併走提案)
  docs/v460/424_ph4_rev_422_423_gemini_second_opinion_and_self_review.md
  docs/v460/425_ph4_rev_423_424_validity_and_blind_spots.md
  docs/v460/index.md
Due: none

feat: 425# S1/S1' configs + best_model parallel eval + multi-slice OOS diagnostic
  configs/v460/experiments/g2_sac_reward_clean_s1.yaml
  configs/v460/experiments/g2_sac_reward_tuned_s1.yaml
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/run_experiment.py
  tests/unit/v460/test_384_pipeline_fixes.py
Due: type-check, secrets-hygiene, test

docs: 430# 428/429 validity assessment + implementation audit (retrain_scheduler完全実装発見, Sidecar v2, 統合ロードマップ)
  docs/v460/430_ph4_rev_428_429_validity_and_implementation_audit.md
  docs/v460/index.md
Due: none

431# clamp observability: clampFires rate tracking in progress log (428#/430# P3)
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_post_cycle.py
  tests/unit/v460/test_421_final_clamp_deadlock.py
Due: type-check, secrets-hygiene, test

docs: 431# clamp observability + fill data analysis (ceiling clamp rate 100%, EV corr 0.017)
  docs/v460/431_ph2_impl_clamp_observability_and_data_analysis.md
  docs/v460/index.md
Due: none
