Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

session037: extract sell floor math and converge fill runner imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  ztb/trading/pricing/offset_math.py
Due: type-check, secrets-hygiene, test

session037: consolidate skip gate early result handling
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_enricher_skip_gate.py
Due: type-check, secrets-hygiene, test

session037: trim SAC timeout test wait
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

510# inv_skew_factor fill_record追加, VG boost reason粒度向上, 周期的サマリ統計
  docs/v460/510_inv_skew_periodic_summary_vg_reason.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/maker_risk_guards.py
  scripts/v460/lib/orchestrator_post_cycle.py
  tests/unit/v460/test_506_sell_improvements.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

session037: tighten phase3 helpers and real-data floors
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/504_phg_rev_502_lib_to_ztb_plan.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  docs/v460/506_phg_verify_500_501_reviews.md
  docs/v460/507_ph2_fix_confidence_velocity_demeaning_and_recovery_skew.md
  docs/v460/508_ph2_impl_logging_observability_improvements.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/_skip_gate_test_helpers.py
  tests/unit/v460/conftest.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_retrain_hot_reload.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

511# docs: 504-510 命名規約適合リネーム + index.md 更新
  docs/v460/509_ph2_fix_sell_age_cap_micro_timeout_guard.md
  docs/v460/510_ph2_impl_inv_skew_periodic_summary_vg_reason.md
  docs/v460/index.md
Due: none

session037: refine skip gate payload boundary
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  ztb/ml/skip_gate_result_fields.py
Due: type-check, secrets-hygiene, test

session037: converge canonical test imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  tests/unit/v460/test_088_features.py
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_100_fast_fill_defense.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_retrain_hot_reload.py
  tests/unit/v460/test_skip_gate_d8.py
  tests/unit/v460/test_skip_gate_v3.py
Due: type-check, secrets-hygiene, test

session037: extract spread guard helper and widen canonical imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_155_hindsight_review.py
  tests/unit/v460/test_157_regime_features.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_retrain_hot_reload.py
  ztb/trading/pricing/price_finalization.py
Due: type-check, secrets-hygiene, test

session037: tighten skip gate context boundary
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_168_low_vol_offset_boost.py
  tests/unit/v460/test_ob_recorder.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

session037: deduplicate skip gate context assembly
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
Due: type-check, secrets-hygiene, test

512# cross-venue favorable-side tighten, DRY microprice, getattr排除, 周期サマリ
  configs/v460/fill_test.yaml
  docs/v460/512_ph2_impl_cross_venue_favorable_tighten_dry_summary.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/cross_venue_lead_lag.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/maker_risk_guards.py
  scripts/v460/lib/orchestrator_post_cycle.py
  tests/unit/v460/test_439_cross_venue_lead_lag.py
Due: type-check, secrets-hygiene, test

session037: guard spread adaptive invalid inputs
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_168_low_vol_offset_boost.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: widen canonical sizing and regime test imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  tests/unit/v460/test_bayesian_regime_filter.py
  tests/unit/v460/test_lot_sizer.py
  tests/unit/v460/test_param_adapter.py
Due: type-check, secrets-hygiene, test

511#/513# docs: 511欠番補完 + 実装済み機構の活用度監査
  docs/v460/511_docs_naming_convention_rename.md
  docs/v460/513_audit_dormant_mechanisms.md
  docs/v460/index.md
Due: none

session037: extract loss boost decay helper
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  docs/v460/511_docs_phase_type_prefix_completion.md
  docs/v460/513_ph2_audit_dormant_mechanisms.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  ztb/trading/pricing/boost_math.py
Due: type-check, secrets-hygiene, test

513# SAD/MCB YAML化 + 511#/513# doc命名規約適合 + 511#内容修正
  configs/v460/fill_test.yaml
  docs/v460/511_docs_phase_type_prefix_completion.md
  docs/v460/513_ph2_audit_dormant_mechanisms.md
  docs/v460/index.md
Due: secrets-hygiene

session037: extract spread adaptive helper and tighten skip gate reasons
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_088_features.py
  tests/unit/v460/test_264_kelly_criterion.py
  tests/unit/v460/test_266_market_theory_protocol.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_skip_gate_v3.py
  ztb/trading/pricing/spread_adaptive.py
Due: type-check, secrets-hygiene, test

session037: extract offset amount helper and widen canonical imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_226_loss_boost_decay_inv_skew_state.py
  tests/unit/v460/test_227_ranging_obi_velocity_ema_import_fix.py
  tests/unit/v460/test_228_inv_decay_hasattr_removal.py
  tests/unit/v460/test_258_as_reservation_vpin_continuous_protocol.py
  tests/unit/v460/test_259_as_vol_ratio_adaptation_hasattr.py
  tests/unit/v460/test_405_offset_ceiling_pipeline.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  ztb/trading/pricing/offset_amount.py
Due: type-check, secrets-hygiene, test

session037: close skip gate fill record boundary
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_173_code_review_fixes.py
  tests/unit/v460/test_202_log_improvements.py
  tests/unit/v460/test_239_feasible_quote.py
  tests/unit/v460/test_262_protocol_cancel_recheck.py
  tests/unit/v460/test_286_comprehensive_resolution.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/ml/skip_gate_fill_record.py
Due: type-check, secrets-hygiene, test

session037: extract offset ceiling helper
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_158_regime_deadlock_fix.py
  tests/unit/v460/test_200_an_improvements.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/trading/pricing/offset_ceiling.py
Due: type-check, secrets-hygiene, test

session037: extract final ceiling stage
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/offset_pipeline.py
  tests/unit/v460/test_enricher_skip_gate.py
Due: type-check, secrets-hygiene, test

session037: sweep canonical test imports
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  tests/unit/v460/test_229_cleanup_counter_rename.py
  tests/unit/v460/test_236_state_persistence_cqs.py
  tests/unit/v460/test_249_directional_alpha.py
  tests/unit/v460/test_439_cross_venue_lead_lag.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: refresh deferred migration docs
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/106_ph2_fix_refactoring_r1_r10.md
  docs/v460/108_ph3_fix_ahead_of_schedule.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
Due: none

session037: tighten 502 505 final wording
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
Due: none

session037: audit deferred docs carry-forward
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/113_ph2_impl_resilience_r1_split.md
  docs/v460/118_phg_rpt_backlog_deep_analysis.md
  docs/v460/168_phg_rpt_comprehensive_improvement_hodl_vs_trading.md
  docs/v460/420_ph2_impl_observability_deferred_items.md
  docs/v460/514_phg_plan_deferred_docs_refresh_and_carryforward_audit.md
  docs/v460/index.md
Due: none

session037: screen remaining deferred docs
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/121_ph2_plan_model_replacement.md
  docs/v460/158_phg_rpt_backlog_audit_and_phase_d_priorities.md
  docs/v460/515_phg_plan_remaining_deferred_actions_screening.md
  docs/v460/index.md
Due: none

session037: renumber deferred screening plan doc
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/520_phg_plan_remaining_deferred_actions_screening.md
  docs/v460/index.md
Due: none

docs: centralize deferred carry-forward and architecture plan
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  docs/v460/514_phg_plan_deferred_docs_refresh_and_carryforward_audit.md
  docs/v460/520_phg_plan_remaining_deferred_actions_screening.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  docs/v460/index.md
Due: none

refactor: extract deferred order monitor and ab judgment helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/lib/ab_judgment.py
  scripts/v460/lib/order_monitor.py
  tests/unit/v460/test_518_monitor_and_ab_judgment_policy_migration.py
  ztb/adaptation/ab_test/__init__.py
  ztb/adaptation/ab_test/judgment_rules.py
  ztb/trading/execution/order_monitor_policy.py
Due: type-check, secrets-hygiene, test

refactor: tighten pricing stage tracking and architecture plan
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_519_pricing_stage_tracking_migration.py
  ztb/trading/pricing/stage_tracking.py
Due: type-check, secrets-hygiene, test

refactor: extract unified trainer runtime flags
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_unified_trainer_runtime_flags.py
  ztb/training/unified_trainer/runtime_flags.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

refactor: share reward bookkeeping and sac memory details
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_reward_component_tracking_migration.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/calculators/reward_component_tracking.py
  ztb/training/sac/__init__.py
  ztb/training/sac/memory_monitor.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

cleanup: temp/debug一時ファイル削除 + .gitignore補強
  .gitignore
  debug/debug_config.py
  debug/debug_features.py
  debug/debug_output.txt
  debug/dump_raw.py
  gen_456.py
  sitecustomize.py
  temp/analyze_fill_test_v3.py
  temp/fill_v3_output.txt
  test_ensemble_results.json
Due: type-check, secrets-hygiene, test

refactor: shape trainer setup and reward diagnostics
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/training/test_unified_trainer_advanced_feature_setup.py
  tests/unit/v460/test_reward_component_tracking_migration.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/calculators/reward_component_tracking.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

refactor: run_070 current_iso_timestamp統一 + test_gate_check tmp_path化
  cache/sidecar_signal.json
  scripts/v460/ml/run_070_model_search.py
  tests/unit/v460/test_gate_check.py
Due: type-check, secrets-hygiene, test

refactor: converge trainer model access and reward bookkeeping
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_unified_trainer_advanced_feature_setup.py
  tests/unit/v460/test_reward_component_tracking_migration.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

fix: git add漏れ修復 — docs/v460 10件 + g2実験config 1件
  configs/v460/experiments/g2_sac_seed123_100k.yaml
  docs/v460/470_fundamental_root_cause_analysis.md
  docs/v460/473_verification_471_472_claims.md
  docs/v460/474_triple_bugfix_and_orphan_cleanup.md
  docs/v460/475_472_proposals_review_and_474_selfreview.md
  docs/v460/489_phg_rev_488_fill_pipeline_multifaceted_review.md
  docs/v460/490_phg_second_opinion_architectural_pivot.md
  docs/v460/493_phg_rev_490_492_profit_first_fill_test_review.md
  docs/v460/494_phg_verify_493_action_plan_and_market_theory.md
  docs/v460/500_phg_rev_497_499_503_sell_side_breakdown_and_asymmetric_actions.md
  docs/v460/501_phg_second_opinion_cross_venue_basis_correction.md
Due: secrets-hygiene

refactor: extend trainer dims and reward payload helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_unified_trainer_advanced_feature_setup.py
  tests/unit/v460/test_reward_component_tracking_migration.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test
