Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

refactor: split fill guard payloads and share scheduler timestamps
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_sidecar_scheduler_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_gate_judgments.py
  ztb/metrics/fill_guard_pipeline_payloads.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

722# sell_hour_boost UTC 5/6 gap + narrow_spread_boost_sell 1.5->2.0
  configs/v460/fill_test.yaml
  docs/v460/714_hexagram_thunder_mountain_small_exceeding.md
  docs/v460/722_cplt_sell_hour_gap_narrow_spread_defense.md
  docs/v460/index.md
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_183_log_analysis_improvements.py
Due: type-check, secrets-hygiene, test

docs: 723# skip_gate bypass paradox deep analysis + 714# P1 rejection
  docs/v460/714_hexagram_thunder_mountain_small_exceeding.md
  docs/v460/723_cplt_skip_gate_bypass_paradox_deep_analysis.md
  docs/v460/index.md
Due: none

feat: 724# regime-conditional bypass exclusion + trending_down_sell_offset_boost 1.3
  configs/v460/fill_test.yaml
  docs/v460/724_cplt_regime_conditional_bypass_exclusion.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_176_trending_offset_asymmetry.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_710_skip_gate_bypass_dryrun.py
Due: type-check, secrets-hygiene, test

docs: 725# Codex 5タスク委譲 — 型安全・テスト堅牢化・技術負債解消
  docs/v460/714_hexagram_thunder_mountain_small_exceeding.md
  docs/v460/725_cplt_codex_tasks_type_safety_test_robustness.md
  docs/v460/index.md
  prompts/codex_725_task1_flaky_real_data_test.md
  prompts/codex_725_task2_sac_type_safety.md
  prompts/codex_725_task3_compat_shim_removal.md
  prompts/codex_725_task4_retrain_type_ignore.md
  prompts/codex_725_task5_test_slow_markers.md
Due: none

725# stabilize tests and retire order compat shim
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/725_cplt_codex_tasks_type_safety_test_robustness.md
  docs/v460/index.md
  mypy.ini
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_ml_pipeline.py
  tests/unit/v460/test_retrain_hot_reload.py
  ztb/trading/live/orders/compat.py
  ztb/trading/live/orders/state.py
Due: type-check, secrets-hygiene, test

feat: 726# hot-reload code-change detection + CODE_COUPLED_FIELDS
  configs/v460/fill_test.yaml
  docs/v460/726_cplt_hot_reload_code_change_detection.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  tests/unit/utils/test_run_manifest.py
  tests/unit/v460/test_169_config_hot_reload.py
  ztb/utils/git_utils.py
Due: type-check, secrets-hygiene, test

727# share sidecar scheduler signal handlers
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/727_phg_sidecar_scheduler_signal_handler_common.md
  docs/v460/index.md
  scripts/v460/ml/ppo_retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/ml/sidecar_scheduler_common.py
  tests/unit/v460/test_sidecar_scheduler_common.py
  ztb/training/sidecar/__init__.py
  ztb/training/sidecar/scheduler_common.py
Due: type-check, secrets-hygiene, test

728# tighten fill record builder typing
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/728_phg_fill_record_builder_type_safety.md
  docs/v460/index.md
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_builders.py
Due: type-check, secrets-hygiene, test

docs: 729# GitHub MCP setup + audit + Copilot Agent delegation (Issue #5 / PR #6)
  .vscode/mcp.json
  docs/v460/729_github_mcp_setup_and_audit.md
Due: secrets-hygiene
