Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

032# phg_rpt: Gate stubs + 方策A + 品質改善ドキュメント; 000# 改訂履歴追記
  docs/v460/000_ph0_plan_project_proposal.md
  docs/v460/032_phg_rpt_gate_stubs_and_quality.md
Due: none

033# 方策B: 動的ロットサイジング + F4累積PnL安全キャップ
  docs/v460/033_phg_rpt_dynamic_lot_sizing.md
  scripts/v460/lib/lot_sizer.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_lot_sizer.py
Due: type-check, secrets-hygiene, test

000# rev: 033# 方策B + F4 追記
  docs/v460/000_ph0_plan_project_proposal.md
Due: none

034# fill_test config externalization to YAML
  configs/v460/fill_test.yaml
  scripts/v460/lib/config_loader.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_test_config.py
Due: type-check, secrets-hygiene, test

000# rev: 034# config externalization entry
  docs/v460/000_ph0_plan_project_proposal.md
Due: none

035# config: replace raw yaml with read_yaml, externalize remaining hardcodes
  configs/v460/fill_test.yaml
  scripts/v460/lib/config_loader.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_test_config.py
Due: type-check, secrets-hygiene, test

036# phg: action space expansion analysis report
  docs/v460/036_phg_rpt_action_space_analysis.md
Due: none

034#: renumber 036->034 (no docs existed for 034/035, code-only commits)
  docs/v460/034_phg_rpt_action_space_analysis.md
Due: none

037# ph2: regime detection integration (035# Week 1 implementation)
  configs/v460/fill_test.yaml
  docs/v460/034_phg_rpt_action_space_analysis.md
  docs/v460/035_phg_rev_034.md
  docs/v460/036_phg_plan_any_reduction_preparation.md
  scripts/v460/lib/regime_detector.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

040# ph2: regime integration report + fill test interim (335 records, FAIL provisional)
  docs/v460/009_ph2_plan_g1_1_exec.md
  docs/v460/040_ph2_rpt_regime_integration_fill_test.md
Due: none

041# ph2: profitability improvements dynamic loss_cap + AS optimization 5 measures
  configs/v460/fill_test.yaml
  docs/v460/041_ph2_rpt_profitability_improvements.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

042# fix: 3 critical fill test bugs (time_filter junk records, balance pre-flight, reserved loss_cap)
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

042# fix: 3 additional improvements (adapter body, JP error classification, stale cleanup)
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

042# doc: fill test 3 bugs + 3 improvements report
  docs/v460/042_phg_fix_fill_test_3bugs_3improvements.md
Due: none

042# doc: add Codex review package + zombie process discovery (Bug 7)
  docs/v460/042_codex_review_package.md
  docs/v460/042_phg_fix_fill_test_3bugs_3improvements.md
Due: none

045# fix: 9 bug fixes from 044# review (lockfile, rate-limit, SIGTERM, round, balance, cleanup, preflight, loss_cap, dead-code)
  docs/v460/045_ph2_resp_044_bug_fixes.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

046# Bug10 fix, soft/hard dual loss_cap, clean/quarantine filter, balance cleanup (+11 tests, 451 pass)
  configs/v460/fill_test.yaml
  docs/v460/046_ph2_remaining_fixes_and_log_analysis.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
  ztb/metrics/fill_quality.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

047# Bug11 cancel race fix, Finding3 FINAL 7-day+INTERIM, Finding4 AS coverage, Issue12 log throttle, refactoring
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  ztb/metrics/fill_quality.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

047# doc: cancel race fix, gate alignment, log optimization, G1.1 status report
  docs/v460/047_ph2_fix_cancel_race_and_gate_alignment.md
Due: none

047# A1-A6+Issue13: clean-only adaptation/results, FINAL exit code, atomic lock, quarantine拡張, API log DEBUG降格 [483 tests pass]
  docs/v460/047_ph2_fix_cancel_race_and_gate_alignment.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
  ztb/metrics/fill_quality.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

047# E3: multi-timeframe PnL (30/60/120s) exit timing最適化データ収集 [483 tests pass]
  scripts/v460/run_fill_test.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

048# Exit Timing analysis doc for external AI review
  docs/v460/048_exit_timing_analysis_and_e3_data_collection.md
Due: none

049# P0+P1: clean-only metrics, FINAL exit code, E3 sampling, side offset, fast-fill defense
  configs/v460/fill_test.yaml
  docs/v460/048_ph2_exit_timing_analysis_and_e3_data_collection.md
  docs/v460/049_ph2_rev_048.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

049# log analysis: side_offset.sell=0.07 有効化, 実装報告ドキュメント追加
  configs/v460/fill_test.yaml
  docs/v460/049_ph2_impl_log_analysis.md
Due: secrets-hygiene

v460 step25: horizontal any reduction for training core
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/training/system_optimizer.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

050# 改番(049050) + Bug#1-7修正: fast_fill offset復元, side-specific defense, 実効offset記録, pin_memory条件, cpu_count None対策 [504 tests pass]
  docs/v460/049_ph2_impl_log_analysis.md
  docs/v460/050_ph2_impl_log_analysis.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  ztb/metrics/fill_quality.py
  ztb/training/system_optimizer.py
Due: type-check, secrets-hygiene, test

v460 step26: harden ensemble_system and remove Any
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/training/unified_trainer/ensemble_system.py
Due: type-check, secrets-hygiene, test

v460 any-reduction backfill: commit historical step implementations
  docs/v460/037_phg_resp_036_type_cleanup_step2.md
  docs/v460/038_phg_rpt_any_cleanup_step3_completion.md
  docs/v460/039_phg_resp_038_any_cleanup_step4.md
  scripts/quality/any_inventory.py
  scripts/v460/lib/config_access.py
  scripts/v460/lib/config_loader.py
  scripts/v460/lib/data_loader.py
  scripts/v460/lib/evaluator.py
  scripts/v460/lib/manifest.py
  scripts/v460/lib/tasks/feature_info.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/monitor_fill_test.py
  scripts/v460/run_experiment.py
  ztb/analysis/common/types.py
  ztb/analysis/core/analyzer.py
  ztb/analysis/regime/v444_regime_analyzer.py
  ztb/analysis/v4xx_unified_analyzer.py
  ztb/config/loaders/priority_loader.py
  ztb/evaluation/unified_evaluation.py
  ztb/experiments/job_manager.py
  ztb/metrics/metrics.py
  ztb/optimization/model_compression.py
  ztb/trading/comprehensive_backtest.py
  ztb/trading/end_to_end_validator.py
  ztb/trading/performance_optimizer.py
  ztb/trading/real_data_validation.py
  ztb/trading/real_data_validator.py
  ztb/trading/strategies/action_signal_guide/interfaces/adaptation_interfaces.py
  ztb/trading/strategies/action_signal_guide/interfaces/common_types.py
  ztb/trading/strategies/action_signal_guide/interfaces/ml_interfaces.py
  ztb/trading/strategies/action_signal_guide/interfaces/portfolio_interfaces.py
  ztb/training/callbacks/reinforcement/sac/sac_callbacks.py
  ztb/training/callbacks/shared/base/learning_callback.py
  ztb/training/callbacks/supervised/supervised_callbacks.py
  ztb/training/callbacks/unsupervised/unsupervised_callbacks.py
  ztb/training/unified_optimizer.py
  ztb/training/unified_trainer/reporting.py
  ztb/types/common.py
  ztb/utils/checkpoint.py
  ztb/utils/type_guards.py
Due: type-check, secrets-hygiene, test

051# P2残課題先行実装: round-trip評価, レジーム別/UTC時間帯別メトリクス, clean_rate表示, balance auto-shrink
  docs/v460/036_phg_plan_any_reduction_preparation.md
  docs/v460/037_phg_resp_036_type_cleanup_step2.md
  docs/v460/038_phg_rpt_any_cleanup_step3_completion.md
  docs/v460/039_phg_resp_038_any_cleanup_step4.md
  docs/v460/042_codex_review_package.md
  docs/v460/043_ph2_codex_review_package.md
  docs/v460/044_ph2_rev_043.md
  docs/v460/048_exit_timing_analysis_and_e3_data_collection.md
  docs/v460/051_ph2_proactive_impl.md
  docs/v460/README.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  ztb/analysis/common/types.py
  ztb/analysis/core/analyzer.py
  ztb/analysis/regime/v444_regime_analyzer.py
  ztb/analysis/v4xx_unified_analyzer.py
  ztb/evaluation/unified_evaluation.py
  ztb/metrics/fill_quality.py
  ztb/training/callbacks/transfer/transfer_callbacks.py
Due: type-check, secrets-hygiene, test

v460 step27: type-safe promotion engine and Any reduction
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/analysis/promotion.py
Due: type-check, secrets-hygiene, test

052# fill test改善: sell offset 0.10, UTC12追加, deadzone 2.5, 方策A sell連動, regime感度向上 [523 tests pass]
  configs/v460/fill_test.yaml
  docs/v460/036_phg_plan_any_reduction_preparation.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_fill_test_config.py
  ztb/analysis/promotion.py
Due: type-check, secrets-hygiene, test

052# balance dynamic lot shrink + sell offset 0.10 + UTC12 + deadzone 2.5 [525 tests]
  docs/v460/036_phg_plan_any_reduction_preparation.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  ztb/analysis/promotion.py
Due: type-check, secrets-hygiene, test

v460 step28: refactor promotion engine for maintainability
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/analysis/promotion.py
Due: type-check, secrets-hygiene, test

v460 step29: remove Any in heavy_env core and reduce duplication
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

v460 step30: remove Any in env_metrics and consolidate extraction specs
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/utils/env_metrics.py
Due: type-check, secrets-hygiene, test

052# MIN_ORDER fix 0.001 + UTC1,2,13,21 skip + trending offset boost 1.5 + balance shrink guard [530 tests]
  configs/v460/fill_test.yaml
  docs/v460/052_ph2_data_driven_optimization.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

refactor(candlestick): introduce family inheritance and remove Any
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/strategies/action_signal_guide/pattern_recognition/candlestick_patterns.py
Due: type-check, secrets-hygiene, test

refactor(wave): apply shared base and fix index/pivot bugs
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/strategies/action_signal_guide/pattern_recognition/wave_counting.py
Due: type-check, secrets-hygiene, test

refactor(streaming): remove Any and fix processor runtime issues
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/strategies/action_signal_guide/realtime_adaptation/streaming_processor.py
Due: type-check, secrets-hygiene, test

refactor(fibonacci): add shared base, remove Any, fix retracement stability
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/strategies/action_signal_guide/pattern_recognition/fibonacci_patterns.py
Due: type-check, secrets-hygiene, test
