Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

fix: use asymmetric balance_penalty targets to break SELL-lock symmetry
  ztb/trading/environment/components/reward_calculator.py
Due: type-check, secrets-hygiene, test

docs: add asymmetric_targets_fix documentation
  ASYMMETRIC_TARGETS_FIX.md
  config/sac_v444_asymmetric_targets_2k_test.json
  ztb/trading/environment/components/__pycache__/reward_calculator.cpython-311.pyc
Due: secrets-hygiene

docs: create comprehensive debug instructions for external AI agent
  DEBUG_INSTRUCTIONS_FOR_EXTERNAL_AGENT.md
Due: none

fix: critical reward pipeline fixes for balance_penalty and action_bonuses
  ztb/trading/environment/components/reward/action_penalty.py
  ztb/trading/environment/components/reward_calculator.py
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

docs: document critical fixes implementation and cross-application strategy
  CRITICAL_FIXES_IMPLEMENTATION.md
Due: none

refactor: reduce logging spam - summary statistics only every 500 steps
  ztb/trading/environment/components/reward_calculator.py
Due: type-check, secrets-hygiene, test

fix: correct _recent_actions deque handling in reward calculator
  debug_balance_penalty_state.py
  ztb/trading/environment/components/__pycache__/reward_calculator.cpython-311.pyc
  ztb/trading/environment/components/reward_calculator.py
  ztb/trading/environment/utils/__pycache__/config.cpython-311.pyc
Due: type-check, secrets-hygiene, test

fix: resolve config loading issue - extract behavior_optimization from nested environment
  debug_action_bonuses.py
  debug_balance_penalty_application.py
  debug_balance_penalty_state.py
  debug_curriculum_stage.py
  deep_investigation_actions.py
  deep_investigation_reward.py
  investigate_balance_penalty_real.py
  test_comprehensive_fixes.py
  ztb/trading/environment/utils/__pycache__/config.cpython-311.pyc
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

docs: add comprehensive fix report with all technical details and test results
  SELL_LOCK_FIX_COMPLETE_REPORT.md
Due: none

refactor: clean up debug logging spam - reduce 70-80 percent of logs from 4 components
  LOG_SPAM_CLEANUP_REPORT.md
  PHASE_12_CRITICAL_BUGS_IDENTIFIED_AND_FIXED.md
  scripts/quick_train_v444_configurable.py
  tests/unit/test_comprehensive_fixes.py
  training_log_phase12.txt
  training_log_phase12_round2.txt
  ztb/trading/environment/components/__pycache__/action_validator.cpython-311.pyc
  ztb/trading/environment/components/__pycache__/reward_calculator.cpython-311.pyc
  ztb/trading/environment/components/action_validator.py
  ztb/trading/environment/components/reward/pnl_focused_reward.py
  ztb/trading/environment/components/reward_calculator.py
Due: type-check, secrets-hygiene, test

refactor: clean up debug logging spam - reduce 70-80 percent of logs from 4 components
  LOG_SPAM_CLEANUP_REPORT.md
  PHASE_12_CRITICAL_BUGS_IDENTIFIED_AND_FIXED.md
  scripts/quick_train_v444_configurable.py
  tests/unit/test_comprehensive_fixes.py
  training_log_phase12_round2.txt
  ztb/trading/environment/components/__pycache__/action_validator.cpython-311.pyc
  ztb/trading/environment/components/__pycache__/reward_calculator.cpython-311.pyc
  ztb/trading/environment/components/action_validator.py
  ztb/trading/environment/components/reward/pnl_focused_reward.py
  ztb/trading/environment/components/reward_calculator.py
Due: type-check, secrets-hygiene, test
