Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

perf: shrink optimizer cache keys and add eviction regression tests
  docs/v460/080_phg_dedup_and_inheritance.md
  tests/unit/reward/test_reward_optimizer_cache.py
  ztb/training/reward_function_optimizer/reward_function_optimizer.py
Due: type-check, secrets-hygiene, test

refactor: horizontally reuse report catalog helpers across tooling
  docs/v460/080_phg_dedup_and_inheritance.md
  tests/unit/reporting/services/test_catalog.py
  tools/analyze_recent_reports.py
  tools/check_recent_reports.py
  tools/ci/evaluate_training_runs.py
  tools/monitor_ab_progress.py
  tools/run_ab_searches.py
  ztb/reporting/services/catalog.py
  ztb/utils/report_utils.py
Due: type-check, secrets-hygiene, test

refactor: unify report analysis tools on catalog helpers
  docs/v460/080_phg_dedup_and_inheritance.md
  docs/v460/146_ph2_impl_multi_exchange_registry.md
  tools/analyze_ab_with_components.py
  tools/analyze_balance_reports.py
  tools/analyze_profitability_vs_balance.py
Due: type-check, secrets-hygiene, test

refactor: expand report helper reuse across utility scripts
  docs/v460/080_phg_dedup_and_inheritance.md
  tools/ab_search_result_summary.py
  tools/analysis/action_distribution_window.py
  tools/duplicate_report_summary.py
  tools/fix_broken_json_reports.py
  tools/test_reward_components_fix.py
Due: type-check, secrets-hygiene, test

146# 11.4 review fixes + improvements: Session retry, OBRecorder flush retry, close(), test stub
  docs/v460/146_ph2_impl_multi_exchange_registry.md
  scripts/v460/lib/ob_recorder.py
  tests/conftest.py
  tests/unit/v460/test_013_fixes.py
  ztb/trading/live/exchanges/base/adapter.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

146# 13 doc: 11.4 review fixes + improvements
  docs/v460/146_ph2_impl_multi_exchange_registry.md
Due: none

refactor: extend json helper reuse and harden duplicate remover
  docs/v460/080_phg_dedup_and_inheritance.md
  tools/analyze_v447_configs.py
  tools/check_signals.py
  tools/compare_results.py
  tools/inspect_env.py
  tools/remove_duplicates.py
Due: type-check, secrets-hygiene, test

145# Phase C: R-2a regime_weighting_enabled=true for 24h measurement
  configs/v460/fill_test.yaml
Due: secrets-hygiene

refactor: harden v441 analysis scripts with shared json helpers
  docs/v460/080_phg_dedup_and_inheritance.md
  tools/analysis/sac_v441_development_plan.py
  tools/analysis/sac_v441_stability_test.py
Due: type-check, secrets-hygiene, test

147# Phase C 24h run start + stop cause investigation
  docs/v460/147_ph2_rpt_phase_c_24h_run_start.md
  docs/v460/index.md
Due: none

147# Phase D/E先行実施追記, 149# Phase C並行作業計画
  docs/v460/147_ph2_rpt_phase_c_24h_run_start.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/index.md
Due: none

148# review: fill_test_events.jsonl + lock heartbeat 60s cycle + 147# update [1440 tests]
  docs/v460/147_ph2_rpt_phase_c_24h_run_start.md
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

148# P1: stderr mirror, target/path mismatch guard, trades stale alert
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

148# P2-A: fill_test watchdog script + docs update
  docs/v460/147_ph2_rpt_phase_c_24h_run_start.md
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  ops/windows/fill_test_watchdog.ps1
Due: none

refactor: harden v459 analyses and simplify v460 gate IO
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v459/analyze_consistency.py
  scripts/v459/analyze_single_experiment.py
  scripts/v459/json_compat.py
  scripts/v460/run_gate_check.py
Due: type-check, secrets-hygiene, test

150# P2-B auto-restart design + 148#/149# Codex review prep
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/150_ph2_design_fill_test_auto_restart.md
Due: none

fix: harden v460 gate flows and consolidate JSON/state I/O
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/daily_health_check.py
  scripts/v460/gate_judgment.py
  scripts/v460/lib/ob_utils.py
  scripts/v460/monitor_fill_test.py
  scripts/v460/run_experiment.py
  scripts/v460/run_gate_check.py
Due: type-check, secrets-hygiene, test

refactor: optimize v460 ml CV loops and reduce Any/json duplication
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/ml/as_classifier.py
  scripts/v460/ml/data_loader.py
  scripts/v460/ml/fill_classifier.py
  scripts/v460/ml/model_protocols.py
  scripts/v460/ml/run_ml_pipeline.py
  scripts/v460/ml/train_sg_v3.py
  scripts/v460/ml/tune_as_classifier.py
  scripts/v460/ml/walk_forward_as.py
Due: type-check, secrets-hygiene, test

148#/149#/150# Codex review response: fix CRITICAL kill_switch.reason bug, add tuning_map entries, file lock, tests, doc corrections
  configs/v460/fill_test.yaml
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/150_ph2_design_fill_test_auto_restart.md
  scripts/v460/lib/fill_config.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_148_fill_test_events.py
Due: type-check, secrets-hygiene, test

fix: harden skip gate calibration and NaN handling in sg v3
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/ml/skip_gate.py
  scripts/v460/ml/train_sg_v3.py
  tests/unit/v460/test_skip_gate_d8.py
  tests/unit/v460/test_train_sg_v3.py
Due: type-check, secrets-hygiene, test

150# P2-B: fill_test watchdog auto-restart implementation
  docs/v460/150_ph2_design_fill_test_auto_restart.md
  ops/windows/fill_test_watchdog.ps1
  ops/windows/test_fill_test_watchdog.ps1
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

150# 11: Codex re-review fixes (4 items)
  docs/v460/150_ph2_design_fill_test_auto_restart.md
  ops/windows/fill_test_watchdog.ps1
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

fix(v460): harden ob recorder against malformed snapshots
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/ob_recorder.py
  tests/unit/v460/test_ob_recorder.py
Due: type-check, secrets-hygiene, test

refactor(v460): type-safe resilience monitor and state IO
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/resilience.py
  tests/unit/v460/test_113_resilience.py
Due: type-check, secrets-hygiene, test

151# P3-03 design: dynamic_position_sizer (AS prob-linked lot sizing)
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/151_p3_design_dynamic_position_sizer.md
Due: none

refactor(v460): dedupe skip gate evaluator model loading
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_141_side_specific_models.py
Due: type-check, secrets-hygiene, test

docs: 151# 10.5 Codex review response + naming convention fix (150#/151#)
  docs/v460/148_ph2_rev_147_phase_c_stop_cause_and_side_issues.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/150_ph2_plan_fill_test_auto_restart.md
  docs/v460/151_ph3_plan_dynamic_position_sizer.md
Due: none

refactor(v460): reuse ztb jsonl/hash helpers across evaluators
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/ml/feature_enricher.py
  ztb/data/market_data_collector.py
Due: type-check, secrets-hygiene, test

docs: fix 151# phase prefix ph3 -> ph2 (still in Phase 2)
  docs/v460/060_ph2_impl_summary.md
  docs/v460/064_ph1_g1_info_verify.json
  docs/v460/065_as_lr_wf_results.json
  docs/v460/139_ph2_review_fixes_137_138.md
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/151_ph2_plan_dynamic_position_sizer.md
Due: secrets-hygiene

refactor(v460): harden manifest jsonl parsing with shared helpers
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/manifest.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

fix(v460): guard manifest data hash for empty or directory paths
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/lib/manifest.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

refactor(v460): share hash/git helpers and remove oracle Any
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/analysis/oracle_test.py
  scripts/v460/build_features.py
  scripts/v460/lib/abstract_cycle_runner.py
  scripts/v460/lib/data_loader.py
Due: type-check, secrets-hygiene, test

feat: 151# P3-03 confidence_lot implementation (AS prob-linked lot sizing)
  configs/v460/fill_test.yaml
  scripts/v460/lib/fill_config.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_151_confidence_lot.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

docs: 151# 11 implementation record + 149# P3-03 status update
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/151_ph2_plan_dynamic_position_sizer.md
Due: none

docs(151#): 12 自己レビュー記録 全31テストPASS, 回帰106PASS, mypy新規ゼロ
  docs/v460/151_ph2_plan_dynamic_position_sizer.md
Due: none

refactor(v460): standardize report JSON writes on ztb helper
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/analysis/oracle_baseline.py
  scripts/v460/analysis/vg_and_trend.py
  scripts/v460/ml/deploy_sg_v3.py
  scripts/v460/ml/deploy_sg_v4.py
  scripts/v460/ml/run_070_deep_analysis.py
  scripts/v460/ml/run_070_final_analysis.py
  scripts/v460/ml/run_070_model_search.py
  scripts/v460/ml/run_075_verification.py
  scripts/v460/ml/train_sg_v2.py
  scripts/v460/run_064_g1_info_verify.py
  scripts/v460/run_065_as_lr_prep.py
  scripts/v460/run_065_g1_proper_eval.py
  scripts/v460/run_065_hp_sweep.py
  scripts/v460/run_065_trade_only_comparison.py
  scripts/v460/run_pnl_monte_carlo.py
Due: type-check, secrets-hygiene, test

fix(151#): 13 Codex追補レビュー全4件対応 + 149# 10 非推奨項目再検討
  docs/v460/149_ph2_plan_phase_c_parallel_work.md
  docs/v460/151_ph2_plan_dynamic_position_sizer.md
  pytest.ini
  scripts/v460/lib/fill_config.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_151_confidence_lot.py
Due: type-check, secrets-hygiene, test

refactor(v460): consolidate plain jsonl and git-sha helpers
  docs/v460/080_phg_dedup_and_inheritance.md
  scripts/v460/analysis/analyze_fill_detail.py
  scripts/v460/analysis/analyze_fill_records.py
  scripts/v460/analysis/oracle_test.py
  scripts/v460/ml/data_loader.py
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/ml/run_073_strategy_analysis.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/run_fill_test.py
  ztb/io/__init__.py
  ztb/io/jsonl.py
Due: type-check, secrets-hygiene, test

refactor(ops): unify jsonl logging and harden monitoring io
  docs/v460/080_phg_dedup_and_inheritance.md
  tests/unit/core/test_disk_health.py
  tests/unit/core/test_watch_1m_runtime.py
  tests/unit/utils/test_text_io.py
  ztb/io/__init__.py
  ztb/io/text_io.py
  ztb/ops/monitoring/disk_health.py
  ztb/ops/monitoring/watch_1m.py
  ztb/ops/status/progress_eta.py
  ztb/utils/core/logger.py
  ztb/utils/parallel_experiments.py
Due: type-check, secrets-hygiene, test

feat(152#): 代替優先施策3件 144# CRITICAL検証完了 + P3-03見送り + P3-02 unknown削減
  configs/v460/fill_test.yaml
  docs/v460/152_ph2_plan_priority_improvements.md
  docs/v460/index.md
  scripts/v460/lib/regime_detector.py
  tests/unit/v460/test_143_regime_utilization.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
