Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

docs: Update CHANGELOG and README for v3.1.0 release
  CHANGELOG.md
  README.md
Due: none

feat: Complete ztb migration - update all test imports from src/ to ztb/
  .pre-commit-config.yaml
  README.md
  __tests__/helpers/mock.trade.ts
  __tests__/helpers/test-flow.ts
  __tests__/unit/cache-metrics.test.ts
  __tests__/unit/circuit-breaker.test.ts
  __tests__/unit/core/position-store.recovery.test.ts
  __tests__/unit/execution-service.events.test.ts
  __tests__/unit/integration.api.rate.heavy.test.ts
  __tests__/unit/integration.api.rate.metrics.test.ts
  __tests__/unit/integration.api.rate.test.ts
  __tests__/unit/metrics-dash.watch.test.ts
  __tests__/unit/ml/ml-simulate.test.ts
  __tests__/unit/rate-limiter.category.test.ts
  __tests__/unit/rate-limiter.metrics.details.test.ts
  __tests__/unit/rate-limiter.metrics.test.ts
  __tests__/unit/rate-limiter.test.ts
  __tests__/unit/rate-limiter.throughput.test.ts
  package.json
  price_cache.json
  tmp-test-features/logs/features/latest-btc_jpy.json
  tmp-test-price-cache/price_cache.json
  vitest-report-unit.json
  vitest-report.json
Due: secrets-hygiene, test

chore: Sync with mainline changes
  linux_canary.sh
  run_canary.ps1
  schema/results_schema.json
  ztb/evaluation/evaluate.py
  ztb/live/paper_trader.py
  ztb/risk/position_sizing.py
  ztb/tests/integration/test_canary_parity.py
  ztb/tools/report-summary.ts
  ztb/utils/__pycache__/leakage_detector.cpython-311.pyc
  ztb/utils/leakage_detector.py
  ztb/utils/run_metadata.py
Due: type-check, secrets-hygiene, test

Refactor trading modules: integrate backtest/live under trading/, add common interfaces, centralize config, standardize errors
  archived/ts_legacy/ztb/application/events/bus.ts
  price_cache.json
  tests/test_backtest.py
  tests/test_integration.py
  tests/test_live.py
  tests/test_no_lookahead.py
  tests/test_statistical_significance.py
  tmp-test-features/logs/features/latest-btc_jpy.json
  tmp-test-price-cache/price_cache.json
  ztb/config/manager.py
  ztb/features/perm_importance.py
  ztb/features/trend/ichimoku.py
  ztb/metrics/metrics.py
  ztb/tests/integration/test_paper_from_streaming.py
  ztb/trading/backtest/README.md
  ztb/trading/backtest/__init__.py
  ztb/trading/backtest/adapters.py
  ztb/trading/backtest/metrics.py
  ztb/trading/backtest/report.py
  ztb/trading/backtest/runner.py
  ztb/trading/interfaces.py
  ztb/trading/live/README.md
  ztb/trading/live/__init__.py
  ztb/trading/live/broker_interfaces.py
  ztb/trading/live/broker_registry.py
  ztb/trading/live/coincheck_adapter.py
  ztb/trading/live/idempotency_store.py
  ztb/trading/live/order_state.py
  ztb/trading/live/order_state_compat.py
  ztb/trading/live/order_submission.py
  ztb/trading/live/paper_trader.py
  ztb/trading/live/precision_policy.py
  ztb/trading/live/reconciliation.py
  ztb/trading/live/replay_market.py
  ztb/trading/live/risk_profiles.py
  ztb/trading/live/service_runner.py
  ztb/trading/live/sim_broker.py
  ztb/trading/live/stream_to_bars.py
  ztb/trading/live/symbols.py
Due: type-check, secrets-hygiene, test

Update CHANGELOG for version 3.2.0
  CHANGELOG.md
Due: none
