Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

refactor: split fill integrity and trim scheduler setup
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  scripts/v460/analysis/oracle_baseline.py
  scripts/v460/analysis/vg_and_trend.py
  scripts/v460/ml/ppo_retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/monitor_fill_test.py
  scripts/v460/run_pnl_monte_carlo.py
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_integrity.py
  ztb/training/sidecar/scheduler_common.py
Due: type-check, secrets-hygiene, test

docs(695#/696#): next Codex task plan + multi-perspective analysis deep dive + test fixes for 694# Codex results
  docs/v460/695_cplt_next_codex_tasks.md
  docs/v460/696_cplt_multi_perspective_analysis_deep_dive.md
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_585_multiplicative_pipeline.py
  tests/unit/v460/test_642_observability_fields.py
  ztb/trading/common/cancel_reasons.py
Due: type-check, secrets-hygiene, test

feat: add 695 guard analysis and fill telemetry
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/696_cplt_multi_perspective_analysis_deep_dive.md
  scripts/v460/analysis/protocols/__init__.py
  scripts/v460/analysis/protocols/protocol_695_regime_as.py
  scripts/v460/analysis/protocols/protocol_695_trend5s.py
  scripts/v460/analysis/sections/__init__.py
  scripts/v460/analysis/sections/section_regime_as_deep_dive.py
  scripts/v460/analysis/sections/section_trend_5s_counterfactual.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/entry_gate_adjustments.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_690_analysis_protocol.py
  tests/unit/v460/test_695_fill_record_enrichment.py
  tests/unit/v460/test_695_regime_as_analysis.py
  tests/unit/v460/test_695_spread_as_guard.py
  tests/unit/v460/test_695_trend5s_counterfactual.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_gate_reports.py
  ztb/metrics/fill_guard_pipeline.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

docs(699#/700#): review response + Codex task plan for 697#/698# findings
  docs/v460/699_cplt_review_response_697_698_cross_validation.md
  docs/v460/700_cplt_codex_task_plan_review_response.md
  docs/v460/index.md
  prompts/codex_700_task1_protocol_688_nfq_fix.md
  prompts/codex_700_task2_spread_as_guard_fix.md
  prompts/codex_700_task3_inventory_skewing.md
  prompts/codex_700_task4_regime_exit_strategy.md
Due: none

feat(700#): activate as_trailing_gate + CHANGELOG + analysis findings
  CHANGELOG.md
  configs/v460/fill_test.yaml
Due: secrets-hygiene

test: reconcile 700 regressions and trim scheduler setup
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/700_cplt_codex_task_plan_review_response.md
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

feat: finalize 700 guard fixes and trim heavy setup
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/700_cplt_codex_task_plan_review_response.md
  scripts/v460/analysis/protocols/protocol_688.py
  scripts/v460/analysis/protocols/protocol_695_regime_as.py
  scripts/v460/analysis/sections/section_regime_as_deep_dive.py
  scripts/v460/analysis/sections/section_spread_distribution.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/orchestrator_lifecycle.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/lib/regime_exit_strategy.py
  scripts/v460/monitor_fill_test.py
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_690_analysis_protocol.py
  tests/unit/v460/test_695_regime_as_analysis.py
  tests/unit/v460/test_695_spread_as_guard.py
  tests/unit/v460/test_700_inventory_skewing.py
  tests/unit/v460/test_700_protocol_688_nfq_fix.py
  tests/unit/v460/test_700_regime_exit.py
  tests/unit/v460/test_700_spread_as_guard_fix.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_pnl.py
Due: type-check, secrets-hygiene, test

fix: reconcile 700# Codex test regressions (5 files)
  scripts/v460/lib/fill_record_helpers.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_169_c1_c3_c4_config.py
  tests/unit/v460/test_505_cancel_reasons_migration.py
  tests/unit/v460/test_694_as_trailing_tracker.py
  tests/unit/v460/test_retrain_hot_reload.py
Due: type-check, secrets-hygiene, test

docs: update CHANGELOG with 700# full implementation details
  CHANGELOG.md
Due: none

docs: 701# IDE performance audit, archive v432 JSONs, create Codex prompts
  archived/analysis/sac_v432_1_advanced_position_management_results.json
  archived/analysis/sac_v432_2_win_rate_optimization_results.json
  archived/analysis/sac_v432_3_entry_exit_enhancement_results.json
  archived/analysis/sac_v432_4_profit_focused_optimization_results.json
  archived/analysis/sac_v432_5_strict_entry_optimization_results.json
  archived/analysis/sac_v432_6_ensemble_approach_results.json
  archived/analysis/sac_v432_7_real_market_data_results.json
  docs/v460/701_cplt_ide_performance_audit_and_cleanup_plan.md
  prompts/codex_701_task1_cleanup_workspace.md
  prompts/codex_701_task2_fix_test_deadlock.md
  prompts/codex_701_task3_archive_v432_json.md
Due: secrets-hygiene

chore: clean workspace and archive v432 artifacts
  .vscode/settings.json
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  scripts/v460/tools/__init__.py
  scripts/v460/tools/cleanup_workspace.py
  tests/unit/v460/test_701_archived_v432.py
  tests/unit/v460/test_701_cleanup_workspace.py
  tests/unit/v460/test_codex_408_409_fixes.py
  ztb/analysis/v432_verification_analysis.py
Due: type-check, secrets-hygiene, test

feat: 701# enable spread_as_guard + regime_exit_strategy, P688 re-analysis
  CHANGELOG.md
  configs/v460/fill_test.yaml
Due: secrets-hygiene

refactor: split fill metrics and share enriched test bundles
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/701_cplt_ide_performance_audit_and_cleanup_plan.md
  scripts/v460/monitor_fill_test.py
  scripts/v460/run_pnl_monte_carlo.py
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_gate_reports.py
  ztb/metrics/fill_metric_results.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

docs: 702# P688 reanalysis validation + 703# Codex sell loss mitigation plan
  docs/v460/702_cplt_p688_reanalysis_validation.md
  docs/v460/703_cplt_codex_sell_loss_mitigation_plan.md
  prompts/codex_703_task1_sha_telemetry.md
  prompts/codex_703_task2_sell_trending_up_guard.md
  prompts/codex_703_task3_hour_param_retune.md
Due: none

feat: add 703 sell-loss telemetry and guard tuning
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/703_cplt_codex_sell_loss_mitigation_plan.md
  scripts/v460/analysis/protocols/protocol_688.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_703_hour_param_retune.py
  tests/unit/v460/test_703_sell_trending_up_guard.py
  tests/unit/v460/test_703_sha_telemetry.py
  tests/unit/v460/test_enricher_skip_gate.py
Due: type-check, secrets-hygiene, test

refactor: split real-data smoke fixtures and trim scheduler loops
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_guard_pipeline.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

fix: 703# merge duplicate hour_offsets key (12h UTC added to original block, test updated)
  configs/v460/fill_test.yaml
  tests/unit/v460/test_183_log_analysis_improvements.py
Due: type-check, secrets-hygiene, test

docs: 703# final review + CHANGELOG update (sell loss mitigation, YAML duplicate key fix)
  CHANGELOG.md
  docs/v460/703_cplt_codex_sell_loss_mitigation_plan.md
Due: none

feat: 704# sell loss structural fix + Codex task plan
  CHANGELOG.md
  configs/v460/fill_test.yaml
  docs/v460/704_cplt_sell_loss_structural_analysis.md
  prompts/codex_704_task1_sell_trending_down_tests.md
  prompts/codex_704_task2_entry_gate_side_aware.md
  prompts/codex_704_task3_sell_offset_analysis.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/skip_gate_evaluator.py
Due: type-check, secrets-hygiene, test

feat: add 704 entry-gate side-aware suppression and offset analysis
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/704_cplt_sell_loss_structural_analysis.md
  scripts/v460/analysis/analyze_704_sell_offset_pipeline.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/entry_gate_guard.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_690_entry_gate_guard.py
  tests/unit/v460/test_704_entry_gate_side_aware.py
  tests/unit/v460/test_704_sell_loss_defense.py
  tests/unit/v460/test_704_sell_offset_analysis.py
Due: type-check, secrets-hygiene, test

refactor: split fill gate payloads and trim heavy tests
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_gate_payloads.py
  ztb/metrics/fill_gate_reports.py
  ztb/metrics/fill_judgment_core.py
Due: type-check, secrets-hygiene, test

docs: 705# post-704# 3日間分析 + buy劣化根本原因 + compare_periods script
  CHANGELOG.md
  docs/v460/705_cplt_post704_3day_analysis.md
  scripts/v460/analysis/compare_periods.py
Due: type-check, secrets-hygiene, test

705# deep dive: statistical significance, counterfactual analysis, microstructure, improvement approaches comparison
  docs/v460/705_cplt_post704_3day_analysis.md
Due: none

708# 706/707 deep dive: trend_5s disabled, buy offset 0.05->0.08, blind spot analysis, Codex prompts CX1-CX3
  configs/v460/fill_test.yaml
  docs/v460/708_cplt_706_707_deep_dive_blind_spots.md
  prompts/codex_cx1_skip_gate_quality.md
  prompts/codex_cx2_entry_gate_redesign.md
  prompts/codex_cx3_sag_penalty_redesign.md
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_fill_test_config.py
Due: type-check, secrets-hygiene, test

708# T1+T2: sell/trending_up hard_skip緩和(mult 5.0) + AS trailing gate soft_threshold 0.30→0.20
  configs/v460/fill_test.yaml
  docs/v460/index.md
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

feat: add 708 skip-gate analysis and guard redesign
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/708_cplt_706_707_deep_dive_blind_spots.md
  docs/v460/709_phg_708_skip_gate_entry_gate_sag_review.md
  scripts/v460/analysis/analyze_708_skip_gate_quality.py
  scripts/v460/analysis/protocols/__init__.py
  scripts/v460/analysis/protocols/protocol_708_skip_gate_quality.py
  scripts/v460/analysis/skip_gate_quality_analysis.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/entry_gate_adjustments.py
  scripts/v460/lib/entry_gate_guard.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_690_entry_gate_guard.py
  tests/unit/v460/test_695_spread_as_guard.py
  tests/unit/v460/test_704_entry_gate_side_aware.py
  tests/unit/v460/test_708_skip_gate_quality_protocol.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_gate_judgments.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

710# 再起動前整理: SAG param fix + 方針比較 + CX4-CX6 Codex設計
  configs/v460/fill_test.yaml
  docs/v460/710_cplt_pre_restart_action_plan_and_codex_tasks.md
  docs/v460/index.md
  prompts/codex_cx4_skip_gate_bypass_gradual.md
  prompts/codex_cx5_calibration_retrain.md
  prompts/codex_cx6_obi_ushape_redesign.md
  scripts/v460/lib/fill_config.py
Due: type-check, secrets-hygiene, test

feat: add skip-gate rollout and calibration analysis tools
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/711_phg_cx4_cx6_validation_and_fill_split_followup.md
  docs/v460/index.md
  scripts/v460/analysis/entry_gate_ev_distribution.py
  scripts/v460/analysis/obi_mode_comparison.py
  scripts/v460/analysis/skip_gate_bypass_dryrun.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/maker_regime_boost.py
  scripts/v460/lib/obi_mode.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/ml/calibration_batch.py
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_710_entry_gate_ev_distribution.py
  tests/unit/v460/test_710_obi_modes.py
  tests/unit/v460/test_710_skip_gate_bypass_dryrun.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_payloads.py
Due: type-check, secrets-hygiene, test

710# deep analysis: SG adaptive/OBI U-shape/velocity defense分析 + doc更新 + test修正
  docs/v460/710_cplt_pre_restart_action_plan_and_codex_tasks.md
  docs/v460/index.md
  tests/unit/v460/test_183_log_analysis_improvements.py
Due: type-check, secrets-hygiene, test

test: share scheduler no-op helpers and trim stale source checks
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/_sidecar_scheduler_test_helpers.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_158_regime_deadlock_fix.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_record_io.py
Due: type-check, secrets-hygiene, test

712# ceiling/offset recalibration: buy 0.35->0.50 sell 0.50->0.65, entry_gate off, side_offset up
  CHANGELOG.md
  configs/v460/fill_test.yaml
  docs/v460/712_cplt_post_restart_ceiling_recalibration.md
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

test: audit low-value candidates and share source helpers
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_139_review_fixes.py
Due: type-check, secrets-hygiene, test

refactor: split fill record builders and trim heavy tests
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_builders.py
Due: type-check, secrets-hygiene, test

713# post-712 multi-perspective evaluation + hexagram (風水渙結→雷山小過)
  docs/v460/713_cplt_post_712_multi_perspective_evaluation.md
  docs/v460/713_hexagram_thunder_mountain_small_exceeding.md
Due: none

714# renumber hexagram doc (713# was duplicate)
  docs/v460/714_hexagram_thunder_mountain_small_exceeding.md
Due: none

715# 713# Claims Audit — skeptical cross-validation for Codex review
  docs/v460/715_cplt_713_claims_audit_skeptical_cross_validation.md
Due: none

719# 716-718# synthesis, xiaoguo reinterpretation, sell_hour no-op verified (718# refuted)
  docs/v460/719_cplt_synthesis_and_xiaoguo_reinterpretation.md
Due: none

720# fix: _clone_config_value int-key silent drop — sell_hour/hour_ceiling/hour_offsets全滅バグ修正
  docs/v460/720_cplt_clone_config_value_int_key_silent_drop_fix.md
  scripts/v460/lib/config_loader.py
  tests/unit/v460/test_config_validation.py
  tests/unit/v460/test_fill_test_config.py
Due: type-check, secrets-hygiene, test

720# docs: 714# 第六部追加 (720#穴の成就) + index.md 717-720# 追加
  docs/v460/714_hexagram_thunder_mountain_small_exceeding.md
  docs/v460/index.md
Due: none

720# CX7: _regime_boost_ranging 行数超過リファクタリング
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/721_phg_cx7_maker_regime_boost_ranging_extract.md
  docs/v460/index.md
  scripts/v460/lib/maker_regime_boost.py
  tests/unit/v460/test_260_compute_extract_regime_split.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
