Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

158# P1-6/P1-2: skip_gate 時間帯閾値オフセット + reprice tighten + テスト修正 [118 passed]
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_154_deadlock_prevention.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

158# P2-4: run_fill_test.py 分割 Phase1 event_logger/lock_manager/fill_test_cli 抽出 [1738 passed]
  scripts/v460/lib/event_logger.py
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/lock_manager.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_136_p1_retrain_kill.py
  tests/unit/v460/test_146_multi_exchange.py
  tests/unit/v460/test_148_fill_test_events.py
  tests/unit/v460/test_157_regime_features.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
  tests/unit/v460/test_retrain_hot_reload.py
Due: type-check, secrets-hygiene, test

158# doc: P2-4 Phase1完了/P0-3 n=10更新/P1-6完了/アーキ図更新 + test_157/136 fix [1738 passed]
  .coverage
  docs/v460/158_phg_rpt_backlog_audit_and_phase_d_priorities.md
Due: none

chore: .coverage を .gitignore に追加
  .coverage
  .gitignore
Due: none

fix(wf): _evaluate_wf_single のテストデータリーケージ修正
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/v460/test_retrain_hot_reload.py
Due: type-check, secrets-hygiene, test

test(158#): P2-2/P2-3 OrderManager統合テスト25件 + 障害モードテスト27件
  tests/unit/v460/test_158_failure_modes.py
  tests/unit/v460/test_158_order_manager_integration.py
  ztb/trading/live_trader/components/risk_manager.py
Due: type-check, secrets-hygiene, test

docs(158#): P2-1/P2-2/P2-3 完了ステータス + retrain再起動記録更新
  docs/v460/158_phg_rpt_backlog_audit_and_phase_d_priorities.md
Due: none

158# P0-3/P1-2 分析完了 + 品質改善 + テスト修正
  docs/v460/158_phg_rpt_backlog_audit_and_phase_d_priorities.md
  tests/integration/test_action_signal_guide_adapter_integration.py
  tests/integration/test_checkpoint_logging_integration.py
  tests/integration/test_comprehensive_fixes.py
  tests/integration/test_custom_ppo_integration.py
  ztb/trading/backtest/adapters.py
  ztb/trading/environment/components/reward/base_reward_calculator.py
  ztb/training/unified_trainer/base/callbacks.py
  ztb/utils/checkpoint.py
Due: type-check, secrets-hygiene, test

158# 分析レポート文書化 + YAML外部化 (resilience/tuning 6パラメータ)
  configs/v460/fill_test.yaml
  docs/v460/158_analysis_report_p03_p12.md
  scripts/v460/lib/adaptation_engine.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

160# regime=None根本修正: skip record全箇所にregime伝搬 + ドキュメント改番
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
  docs/v460/index.md
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/run_fill_test.py
Due: type-check, secrets-hygiene, test

160# P0-B/C: A/B判定基準3指標固定 + trending_down sell実測評価テンプレート
  configs/v460/fill_test.yaml
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
  docs/v460/index.md
  scripts/v460/analysis/side_regime_dashboard.py
  scripts/v460/lib/ab_judgment.py
  tests/unit/v460/test_160_ab_judgment.py
Due: type-check, secrets-hygiene, test

160# P0-B/C実測結果ドキュメント化: 両項目FAIL (downside_p10超過)
  docs/v460/159_phg_rev_158_phase_d_backlog_review.md
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
Due: none

160# exclude_regimes フィルタ + Per-Regime A/B判定: warmupノイズ除外, ranging sell 全3指標PASS確認 (59テスト)
  configs/v460/fill_test.yaml
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
  scripts/v460/analysis/side_regime_dashboard.py
  scripts/v460/lib/ab_judgment.py
  tests/unit/v460/test_160_ab_judgment.py
Due: type-check, secrets-hygiene, test

160# 10レビュー対応: control側min_filled制約, 新フィールド分析集計, per_regime JSON完全化, regime:null原因確定 (69テスト)
  configs/v460/fill_test.yaml
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
  scripts/v460/analysis/side_regime_dashboard.py
  scripts/v460/lib/ab_judgment.py
  tests/unit/v460/test_160_ab_judgment.py
Due: type-check, secrets-hygiene, test

160# 12 コード品質改善: 空PnL誤PASS修正(CRITICAL), enriched cacheアトミック書込み, FutureWarning修正, trades_health整合性, skip_col重複除去 (82テスト)
  docs/v460/160_phg_rpt_analysis_and_regime_tuning.md
  scripts/v460/lib/ab_judgment.py
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_160_ab_judgment.py
  ztb/ml/online_monitor.py
Due: type-check, secrets-hygiene, test

161# phg コード品質構造改善: SIGTERM graceful shutdown + DRY metrics統合 + asyncio安全化
  docs/v460/161_phg_impl_code_quality_and_structural_improvements.md
  docs/v460/index.md
  scripts/v460/analysis/side_regime_dashboard.py
  scripts/v460/lib/ab_judgment.py
  scripts/v460/lib/metrics_utils.py
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_160_ab_judgment.py
  ztb/utils/safety.py
Due: type-check, secrets-hygiene, test

161# 5b 水平添加: safe_to_finite統合 (5ファイル) + 自己レビュー + 158#残課題整理
  docs/v460/161_phg_impl_code_quality_and_structural_improvements.md
  scripts/v460/analysis/analyze_fill_records.py
  scripts/v460/analysis/compare_regime_ab.py
  scripts/v460/analysis/hindsight_filter.py
  scripts/v460/analysis/oracle_baseline.py
  scripts/v460/analysis/reproduce_152_metrics.py
  scripts/v460/lib/metrics_utils.py
Due: type-check, secrets-hygiene, test

162# rpt: Fill Test 10日間ログ分析レポート
  docs/v460/161_phg_impl_code_quality_and_structural_improvements.md
  docs/v460/162_phg_rpt_fill_test_10day_log_analysis.md
  docs/v460/index.md
Due: none

162# feat: Inventory Skewing 実装 (enabled=false, balance_forced 根本対策)
  configs/v460/fill_test.yaml
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/maker_price.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_113_resilience.py
Due: type-check, secrets-hygiene, test

162# doc: 姑息策カタログ + CHANGELOG 更新
  CHANGELOG.md
  docs/v460/163_audit_stopgap_measures_catalog.md
Due: none

163# God Object 分割: run_fill_test 2231378行 Mixin化, maker_price compute() 306143行, fill_config from_yaml() 479139行, BPS_FACTOR重複修正, 止血バグ修正, God Object化防止警告追加, テスト1858 passed
  CHANGELOG.md
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/maker_price.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/test_088_features.py
  tests/unit/v460/test_091_fixes.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_139_review_fixes.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_155_hindsight_review.py
  tests/unit/v460/test_157_regime_features.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

163# IS enablement + 107# Phase 3 Step 2 regime-adaptive dynamic gating
  CHANGELOG.md
  configs/v460/fill_test.yaml
  docs/v460/158_phg_rpt_backlog_audit_and_phase_d_priorities.md
  docs/v460/161_phg_impl_code_quality_and_structural_improvements.md
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/time_filter.py
  tests/unit/v460/test_163_regime_adaptive_gating.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

164# SkipGate SHAP analysis + 163# Stopgap retirement criteria table
  CHANGELOG.md
  docs/v460/162_phg_rpt_fill_test_10day_log_analysis.md
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
  docs/v460/164_phg_rpt_skip_gate_shap_analysis.md
  docs/v460/index.md
  docs/v460/shap_skip_gate_analysis.json
Due: secrets-hygiene

164# review fixes (6.2-1~4 + 6.3 S3/S4) + 000#/index.md operation guidelines
  docs/v460/000_ph0_plan_project_proposal.md
  docs/v460/164_phg_rpt_skip_gate_shap_analysis.md
  docs/v460/index.md
Due: none

162# P0: analyze_fill_logs CLI (--run-id/--git-sha/--date-from,to) + 19 tests, temp scripts archived
  tests/test_analyze_fill_logs.py
  tools/analysis/analyze_fill_logs.py
Due: type-check, secrets-hygiene, test

163# P1: IS staged enablement plan (S0-S4) connecting 161#/163# retirement criteria
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
Due: none

163# roadmap: mark dynamic gating as implemented (5a5b9ba42)
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
Due: none

163# P1 SO-1: sell_guard.offset_floor 0.10->0.20 (+173bps est.) + sell offset optimization analysis
  configs/v460/fill_test.yaml
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
Due: secrets-hygiene

165# AS-R1 + 162# P1: velocity sell skip rule + daily per-regime 3-indicator health report
  configs/v460/fill_test.yaml
  scripts/v460/analysis/stopgap_daily_report.py
  scripts/v460/lib/cancel_reasons.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/lib/stopgap_health.py
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_stopgap_health.py
  tests/unit/v460/test_velocity_skip_rule.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

165# docs: session report + 163# cross-reference update
  docs/v460/163_phg_rpt_stopgap_measures_catalog.md
  docs/v460/165_phg_rpt_as_root_cause_and_velocity_rule.md
Due: none

166# P0 再現性固定 + P0 退出アラート + P1 model_used 経路別
  CHANGELOG.md
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
  scripts/v460/analysis/stopgap_daily_report.py
  scripts/v460/lib/stopgap_health.py
  tests/test_analyze_fill_logs.py
  tests/unit/v460/test_stopgap_health.py
  tools/analysis/analyze_fill_logs.py
Due: type-check, secrets-hygiene, test

166# HF1-HF3: balance_forced_rescue有効化 + Lock競合silent exit + Insufficient cooldown
  configs/v460/fill_test.yaml
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
  scripts/v460/lib/balance_checker.py
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/lock_manager.py
  tests/unit/v460/test_166_hotfixes.py
Due: type-check, secrets-hygiene, test

166# HF4: trending sell skip 資金枯渇リバランス緩和 (8.2A完全対応)
  configs/v460/fill_test.yaml
  scripts/v460/lib/fill_loop_orchestrator.py
  tests/unit/v460/test_166_hotfixes.py
Due: type-check, secrets-hygiene, test

166# doc: HF3補完修正 + ライブ検証結果 (9.6-9.7)
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
Due: none

166# 7/8 remaining: C.6 sklearn fix, C.7 cancel_failed KPI, 3 deadlock fixes
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/ml/skip_gate.py
  tests/unit/v460/test_166_remaining_tasks.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

166# self-review: SR-1~SR-4 stability fixes (6 silent exceptions + 1 deadlock safety)
  CHANGELOG.md
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/pnl_measurer.py
  scripts/v460/lib/skip_gate_evaluator.py
Due: type-check, secrets-hygiene, test

167# DL-4/DL-5: sell loop structural fix + counter persistence
  docs/v460/166_phg_rpt_reviewer_response_and_remaining_tasks.md
  docs/v460/167_sell_loop_fix_dl4_dl5.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_helpers.py
Due: type-check, secrets-hygiene, test

167# doc: rename to naming convention + add 165-167 to index.md
  docs/v460/167_phg_fix_sell_loop_dl4_dl5.md
  docs/v460/index.md
Due: none

168# rpt: HODL vs Trading quantitative comparison + unexamined proposals inventory + metrics utilization plan
  docs/v460/168_phg_rpt_comprehensive_improvement_hodl_vs_trading.md
  docs/v460/index.md
Due: none

168# verify: R2-R6 + Gemini review fact-check with code/log/config evidence
  docs/v460/168_phg_rpt_comprehensive_improvement_hodl_vs_trading.md
Due: none
