Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

491# ログ分析改善: buy ceiling 0.20→0.25, composite risk有効化, retrain再起動
  configs/v460/fill_test.yaml
  docs/v460/491_session_remediation_deep_dive.md
Due: secrets-hygiene

491# deep-dive analysis §10 + composite_risk hot-reload fix
  docs/v460/491_session_remediation_deep_dive.md
  scripts/v460/lib/config_hot_reload.py
Due: type-check, secrets-hygiene, test

492# Codexレビュー用: Fill Pipeline総合監査ドキュメント
  docs/v460/492_codex_review_pipeline_audit.md
Due: none

495# retrain scheduler crash resilience: auto-restart, loop protection, training timeout
  docs/v460/495_retrain_scheduler_crash_resilience.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

495# memory leak prevention + edge case hardening
  docs/v460/495_retrain_scheduler_crash_resilience.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

496# 493/494レビュー実装: micro-timeout TTL cut, recovery skew, blind spot分析
  configs/v460/fill_test.yaml
  docs/v460/496_review_implementation_and_blind_spots.md
  docs/v460/index.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

496# fix: recovery_skew resolved_side_reason 上書きバグ修正
  scripts/v460/lib/orchestrator_balance.py
Due: type-check, secrets-hygiene, test

docs: 497# config change impact deep dive (3/10-3/19)
  docs/v460/497_config_change_impact_deep_dive.md
Due: none

498# hot-reload横展開: 61フィールド追加 (348→409) + micro_timeoutテスト修正
  scripts/v460/lib/config_hot_reload.py
  tests/unit/v460/test_micro_timeout.py
Due: type-check, secrets-hygiene, test

498# ドキュメント: hot-reload横展開の詳細記録
  docs/v460/498_hot_reload_lateral_expansion.md
Due: none

session037: add revenue context event logging
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/event_logger.py
  scripts/v460/lib/fill_cycle_executor.py
  tests/unit/v460/test_148_fill_test_events.py
Due: type-check, secrets-hygiene, test

session037: consolidate raw UTC day helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/ml/feature_enricher.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_v460_core.py
  ztb/data/market_data_collector.py
  ztb/data/raw_paths.py
  ztb/data/trades_health.py
Due: type-check, secrets-hygiene, test

499# fix: hard_loss_cap crash loop — cumulative_pnl_jpy を当日UTCスコープに修正
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_lifecycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  tests/unit/v460/test_499_loss_cap_daily_scope.py
Due: type-check, secrets-hygiene, test

session037: share ML metadata timestamps
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/ml/cache_cleanup.py
  scripts/v460/ml/deploy_sg_v3.py
  scripts/v460/ml/deploy_sg_v4.py
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/ml/train_alt_horizon.py
  scripts/v460/ml/train_sg_v2.py
  scripts/v460/ml/train_sg_v3.py
  tests/unit/ml/test_metadata_utils.py
  tests/unit/v460/test_ml_cache_cleanup.py
  ztb/ml/metadata_utils.py
  ztb/ml/skip_gate.py
Due: type-check, secrets-hygiene, test

499# ドキュメント: hard_loss_cap crash loop 根本原因と修正記録
  docs/v460/499_hard_loss_cap_crash_loop_fix.md
Due: none

session037: promote shared time and raw day helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/ml/feature_enricher.py
  tests/unit/utils/test_time_utils.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_v460_core.py
  ztb/data/raw_paths.py
  ztb/experiments/job_manager.py
  ztb/experiments/smoke_test.py
  ztb/ml/metadata_utils.py
  ztb/utils/time_utils.py
Due: type-check, secrets-hygiene, test

session037: widen timestamp and utc day helper reuse
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/analysis/ab_offset_comparison.py
  scripts/v460/lib/batch_persistence.py
  scripts/v460/lib/orchestrator_lifecycle.py
  ztb/training/unified_trainer/reporting.py
  ztb/utils/observability.py
Due: type-check, secrets-hygiene, test

503# Sell/Buy損益要因分析ドキュメント: cross-venue非対称性・ranging集中・逆選択パターン
  docs/v460/503_sell_buy_pnl_factor_analysis.md
Due: none

504# review: 502# lib→ztb 移行計画レビュー
  docs/v460/504_review_502_lib_to_ztb_plan.md
Due: none

session037: adjust lib-to-ztb plan and migrate cancel reasons and param adapter
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/adaptation_engine.py
  scripts/v460/lib/cancel_reasons.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/param_adapter.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_505_cancel_reasons_migration.py
  tests/unit/v460/test_506_param_adapter_migration.py
  ztb/metrics/fill_quality.py
  ztb/trading/common/cancel_reasons.py
  ztb/trading/sizing/param_adapter.py
Due: type-check, secrets-hygiene, test

session037: promote lot sizing and fast fill defense modules
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/adaptation_engine.py
  scripts/v460/lib/fast_fill_defense.py
  scripts/v460/lib/lot_sizer.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/test_507_lot_sizer_and_ffd_migration.py
  ztb/trading/risk/fast_fill_defense.py
  ztb/trading/sizing/lot_sizer.py
Due: type-check, secrets-hygiene, test

506# 500番・501番レビュー検証報告: データ主張の独立検証、basis非定常性の発見、推奨アクション優先度整理
  docs/v460/506_verification_500_501_reviews.md
Due: none

session037: promote SAC runtime and Bayesian regime modules
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/build_features.py
  scripts/v460/diagnose_sac_actions.py
  scripts/v460/lib/bayesian_regime_filter.py
  scripts/v460/lib/regime_detector.py
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_508_sac_runtime_and_bayesian_migration.py
  ztb/trading/signal/regime/__init__.py
  ztb/trading/signal/regime/bayesian_regime_filter.py
  ztb/training/sac/__init__.py
  ztb/training/sac/runtime.py
Due: type-check, secrets-hygiene, test

session037: promote regime detector module
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  scripts/v460/analysis/compare_regime_ab.py
  scripts/v460/lib/adaptation_engine.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/maker_microstructure.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/maker_regime_boost.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/regime_detector.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_509_regime_detector_migration.py
  tests/unit/v460/test_fill_quality.py
  ztb/trading/signal/regime/__init__.py
  ztb/trading/signal/regime/regime_detector.py
Due: type-check, secrets-hygiene, test

506# P0/P1 実装: sell_age_cap_sec=25s, sell_offset 0.18→0.14, cross-venue basis correction (EMA de-meaning)
  configs/v460/fill_test.yaml
  docs/v460/506_verification_500_501_reviews.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/cross_venue_lead_lag.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  tests/unit/v460/test_506_sell_improvements.py
Due: type-check, secrets-hygiene, test

session037: extend sac debug history and real-data test reuse
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_ml_pipeline.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: extract shared trading contracts and phase2 helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/utils/test_time_utils.py
  tests/unit/v460/test_511_shared_contracts_migration.py
  ztb/ml/skip_gate_contracts.py
  ztb/trading/execution/contracts.py
  ztb/trading/pricing/contracts.py
  ztb/training/sac/__init__.py
  ztb/training/sac/debug.py
  ztb/utils/time_utils.py
Due: type-check, secrets-hygiene, test

507# confidence/velocity de-meaning統一 + recovery_skew 2.0→1.5: sell CV guard比例化
  configs/v460/fill_test.yaml
  docs/v460/506_verification_500_501_reviews.md
  scripts/v460/lib/cross_venue_lead_lag.py
  tests/unit/v460/test_506_sell_improvements.py
Due: type-check, secrets-hygiene, test

507# standalone doc: confidence/velocity de-meaning修正 + self-review
  docs/v460/507_confidence_velocity_demeaning_and_recovery_skew.md
Due: none

session037: stabilize fallback path and extract stale order policy
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/order_monitor.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_512_stale_order_policy_migration.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/ml/skip_gate_contracts.py
  ztb/trading/execution/stale_order_policy.py
  ztb/trading/pricing/contracts.py
Due: type-check, secrets-hygiene, test

session037: extract maker inventory math and trim build feature tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_513_inventory_math_migration.py
  tests/unit/v460/test_build_features_pipeline.py
  ztb/trading/pricing/inventory_math.py
Due: type-check, secrets-hygiene, test

session037: extract skip gate runtime helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/batch_persistence.py
  scripts/v460/lib/manifest.py
  scripts/v460/lib/sidecar_signal_io.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_514_skip_gate_runtime_migration.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_skip_gate_v3.py
  ztb/ml/skip_gate_runtime.py
Due: type-check, secrets-hygiene, test

session037: converge skip gate imports and trim IO tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/skip_gate_ev_weighted.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/lib/skip_gate_model_loader.py
  scripts/v460/ml/deploy_sg_v3.py
  scripts/v460/ml/deploy_sg_v4.py
  scripts/v460/ml/retrain_scheduler.py
  scripts/v460/ml/train_alt_horizon.py
  scripts/v460/ml/train_sg_v2.py
  scripts/v460/run_065_as_lr_prep.py
  scripts/v460/run_065_save_two_tier.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_retrain_hot_reload.py
Due: type-check, secrets-hygiene, test

session037: extract skip gate result fields
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  tests/unit/v460/test_retrain_hot_reload.py
  ztb/ml/skip_gate_result_fields.py
Due: type-check, secrets-hygiene, test

508# logging改善: basis_bps/adjusted_spread fill_record追加, sell_age_cap/regime_timeout ログ追加
  docs/v460/508_logging_observability_improvements.md
  scripts/v460/lib/cross_venue_lead_lag.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/order_monitor.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

509# sell_age_cap guard: micro_timeout累積cap + stale reprice残時間チェック
  docs/v460/509_sell_age_cap_micro_timeout_guard.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/order_monitor.py
  tests/unit/v460/test_506_sell_improvements.py
Due: type-check, secrets-hygiene, test

session037: extract pricing offset math and trim hot reload tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/502_phg_plan_lib_to_ztb_and_object_split.md
  docs/v460/505_phg_resp_504_lib_to_ztb_plan_adjustment.md
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_517_pricing_offset_math_migration.py
  tests/unit/v460/test_retrain_hot_reload.py
  ztb/trading/pricing/offset_math.py
Due: type-check, secrets-hygiene, test
