Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

docs: enhance ztb.metrics.metrics module documentation
  ztb/metrics/metrics.py
  ztb/training/callbacks/shared/base/learning_callback_backup.py
Due: type-check, secrets-hygiene, test

feat: migrate statistical functions to metrics module
  ztb/analysis/comparative/analyze_backtest.py
  ztb/metrics/metrics.py
  ztb/trading/comprehensive_backtest.py
  ztb/utils/quality.py
Due: type-check, secrets-hygiene, test

refactor: replace pandas skew/kurtosis with centralized metrics functions
  config/v448/mtf_candidates/mtf_candidate_0.json
  config/v448/mtf_candidates/mtf_candidate_1.json
  config/v448/mtf_candidates/mtf_candidate_2.json
  mypy.ini
  ztb/analysis/comparative/analyze_backtest.py
  ztb/data/__pycache__/data_loader.cpython-311.pyc
  ztb/data/btc_data_augmentation.py
  ztb/data/v433_feature_engineering.py
  ztb/features/generators/technical/volatility/kalman_ext.py
  ztb/trading/environment/components/reward/mtf_weight_manager.py
  ztb/training/reward_function_optimizer/mtf_optimizer.py
  ztb/utils/core/stats.py
Due: type-check, secrets-hygiene, test

chore(docs): user reverted v452 TODO, commit before history rewrite
  docs/v452/TODO.md
Due: none

chore(git): ignore & lfs large backtest CSV files to prevent re-commits
  .gitattributes
  .gitignore
Due: none

chore: update .gitignore to exclude results, backtests and generated artifacts
  .gitignore
Due: none

docs: add LFS migration summary & developer instructions
  docs/v452/LFS_Migration_2025-12-13.md
Due: none

ci: enable lfs in actions/checkout and fetch full history
  .github/workflows/python-validation.yml
Due: secrets-hygiene
