Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

075# ph2 impl: renumber 074->075 + critical deep analysis + buy UTC23 re-block
  configs/v460/fill_test.yaml
  docs/v460/074_ph2_impl_review_response.md
  docs/v460/075_ph2_impl_review_response.md
  scripts/v460/ml/run_075_verification.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

077# ph2 impl: 076 review fixes - win_pct bug, MC bias removal, Holm/p_mean gate, side_override tests, multi-metric comparison
  docs/v460/075_ph2_impl_review_response.md
  docs/v460/076_ph2_rev_075.md
  docs/v460/077_ph2_impl_076_review_response.md
  scripts/v460/ml/run_075_verification.py
  tests/unit/v460/test_fill_test_config.py
Due: type-check, secrets-hygiene, test

078# deeper verification: permutation test (p=0.0953), temporal stability, power analysis
  docs/v460/078_ph2_impl_deeper_verification.md
  scripts/v460/ml/run_075_verification.py
Due: type-check, secrets-hygiene, test

refactor(action_signal_guide): eliminate remaining Any and harden fibonacci mtf compatibility
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/strategies/action_signal_guide/config/asg_adaptation_config.py
  ztb/trading/strategies/action_signal_guide/config/asg_ml_config.py
  ztb/trading/strategies/action_signal_guide/config/asg_portfolio_config.py
  ztb/trading/strategies/action_signal_guide/pattern_recognition/fibonacci_patterns.py
  ztb/trading/strategies/action_signal_guide/types.py
Due: type-check, secrets-hygiene, test

docs: 079# 情報棚卸し + fill_test再開 + index.md作成
  docs/v460/079_ph2_rpt_inventory_and_restart.md
  docs/v460/index.md
Due: none

refactor(signal): type and performance harden ensemble generator
  docs/v460/036_phg_plan_any_reduction_preparation.md
  tests/unit/trading/signal/scorers/test_signal_scorers.py
  ztb/trading/signal/ensemble_signal_generator.py
Due: type-check, secrets-hygiene, test

fix: 079# fill_test 3改善 heartbeat/定期flush/postonly_reject分類
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

refactor(phg): dead file cleanup + type safety fixes (21 deleted, 8 fixed)
  configs/v444/sac_v444_advanced_regime_adaptation_config.json.backup
  tests/unit/reward/test_reward_v440_enhancement.py.backup
  ztb/analysis/evaluation/paper_trading_evaluator.py.backup
  ztb/analysis/regime/v444_regime_classifier.py.backup
  ztb/config/core/base.py
  ztb/ops/optimization/__init__.py
  ztb/ops/optimization/bayes_opt.py
  ztb/ops/optimization/genetic_algo.py
  ztb/ops/optimization/grid_search.py
  ztb/ops/pipelines/__init__.py
  ztb/ops/pipelines/evaluation_pipeline.py
  ztb/ops/pipelines/reporting_pipeline.py
  ztb/ops/pipelines/training.py
  ztb/ops/visualization/__init__.py
  ztb/ops/visualization/correlation_plot.py
  ztb/ops/visualization/feature_importance.py
  ztb/ops/visualization/performance_plot.py
  ztb/trading/environment/components/calculators/simplified_reward_calculator.py
  ztb/trading/environment/components/reward/win_rate_bonus.py
  ztb/trading/risk/compat.py
  ztb/trading/strategies/action_signal_guide/action_signal_guide.py.backup
  ztb/training/archive/sell_mitigation_ppo_trainer.py.old
  ztb/training/callbacks/callbacks.py.old
  ztb/training/config/ppo_config.py
  ztb/training/scripts/run_1m.py.backup
  ztb/types/generics.py.corrupt
  ztb/utils/__init__.py
  ztb/utils/cache_utils.py
  ztb/utils/torch_utils.py
Due: type-check, secrets-hygiene, test

refactor(phg): dedup phase1 - dead code deletion (6 files) + re-export shims (3 files) + LFS fix
  .gitattributes
  tests/unit/trading/components/test_end_to_end_validator.py
  ztb/analysis/backtest/analyze_backtest_detailed.py
  ztb/analysis/regime/regime_evaluation.py
  ztb/evaluation/auto_feature_generator.py
  ztb/trading/end_to_end_validator.py
  ztb/trading/entry_system.py
  ztb/trading/environment/fast_intraday_env_v456.py
  ztb/trading/production/circuit_breaker.py
  ztb/trading/signal/enhanced_risk_manager.py
  ztb/trading/signal/quality_scorer_backup.py
  ztb/training/archive/sell_mitigation_ppo_trainer.pyi
  ztb/training/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

refactor(phg): dedup phase2 - inheritance consolidation
  tests/unit/risk/test_circuit_breakers.py
  tests/unit/utils/test_circuit_breaker.py
  ztb/analysis/regime/market_regime_classifier.py
  ztb/analysis/regime/market_regime_types.py
  ztb/analysis/regime/v444_regime_analyzer.py
  ztb/analysis/regime/v444_regime_classifier.py
  ztb/risk/circuit_breakers.py
  ztb/risk/circuit_breakers_compat.py
  ztb/training/archive/sell_mitigation_ppo_trainer.pyi
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
  ztb/utils/circuit_breaker.py
Due: type-check, secrets-hygiene, test

docs: 080# 重複排除 & 継承ベース統合
  docs/v460/080_phg_dedup_and_inheritance.md
  docs/v460/index.md
Due: none

fix(phg): memory leaks + bare except + iterrows vectorization
  ztb/trading/end_to_end_validation.py
  ztb/trading/environment/components/data_manager.py
  ztb/trading/risk/optimizers/volume_filter.py
  ztb/trading/signal/regime/classifier.py
  ztb/trading/signal/timeframe/minute_data_pipeline.py
  ztb/trading/signal/timeframe/multi_timeframe_validator.py
  ztb/trading/strategies/action_signal_guide.py
  ztb/utils/data/data_generation.py
  ztb/utils/parallel_experiments.py
  ztb/utils/training_utils.py
Due: type-check, secrets-hygiene, test

fix(phg): deep scan OOM prevention, thread leak, asyncio safety, bare except
  ztb/analysis/comparative/benchmark_comparison.py
  ztb/analysis/comparative/regime_performance_analyzer.py
  ztb/analysis/market_analysis/statistical_analyzer.py
  ztb/analysis/wave3_diag.py
  ztb/multimodal/optimization/quantization.py
  ztb/trading/environment/heavy_env/mixins/streaming.py
  ztb/trading/production/performance_monitor.py
  ztb/trading/signal/signal_guidance_system.py
  ztb/trading/trade_execution_engine.py
  ztb/training/optimization/lagrange_constraint.py
  ztb/training/reward_function_optimizer/reward_function_optimizer.py
  ztb/training/system_optimizer.py
  ztb/training/unified_optimizer.py
  ztb/training/unified_trainer/base/callbacks.py
  ztb/utils/checkpoint.py
Due: type-check, secrets-hygiene, test

docs: 081# 深層スキャン 不具合修正 & メモリ効率改善
  docs/v460/081_phg_deep_scan_bug_memory_fix.md
Due: none

docs: 082# fill_test深掘り分析 Codexレビュー用資料
  docs/v460/082_fill_test_deep_dive_for_codex.md
Due: none

refactor(indicators): deduplicate adaptive flow and eliminate Any debt
  docs/v460/036_phg_plan_any_reduction_preparation.md
  docs/v460/080_phg_dedup_and_inheritance.md
  docs/v460/index.md
  ztb/trading/signal/quality/indicators/base.py
  ztb/trading/signal/quality/indicators/macd.py
  ztb/trading/signal/quality/indicators/rsi.py
Due: type-check, secrets-hygiene, test

docs: 084# 083レビュー評価 コード/データ照合と8盲点指摘
  docs/v460/084_ph2_impl_083_review_response.md
Due: none

feat: 085# 084盲点対応 SkipGate P(AS)記録, param_adapter hold化, api_error指数バックオフ, run_idフィルタ
  docs/v460/082_ph2_fill_test_deep_dive_for_codex.md
  docs/v460/083_ph2_rev_082.md
  docs/v460/085_ph2_084_blind_spot_impl.md
  scripts/v460/lib/param_adapter.py
  scripts/v460/ml/run_075_verification.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/monitor_fill_test.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_param_adapter.py
  tests/unit/v460/test_regime_detector.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

fix: 086# time_filter片側蓄積バグ修正 alt_side==_last_sideなら両方ブロック扱い
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

docs: 086# time_filter片側蓄積バグ分析 + 085#セッション考察
  docs/v460/086_ph2_rpt_time_filter_bug_and_session_analysis.md
  docs/v460/index.md
Due: none

feat: 088# SkipGate動的較正 + sellガード + 失注リトライ強化 + データ品質修正 + side分離適応
  configs/v460/fill_test.yaml
  docs/v460/087_ph2_rev_086.md
  docs/v460/088_ph2_impl_087_review_response.md
  docs/v460/index.md
  scripts/v460/lib/param_adapter.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_088_features.py
Due: type-check, secrets-hygiene, test

fix: 089# time_filter大幅削減 buy/sell各16h6hブロック (両方open 17%54%)
  configs/v460/fill_test.yaml
  docs/v460/088_ph2_impl_087_review_response.md
Due: secrets-hygiene

docs: 090# fill_test深掘り分析v2 Codexレビュー用資料 (6致命的発見+7質問)
  docs/v460/090_ph2_deep_dive_v2_for_codex.md
Due: none

fix: 091# 運用継続性修復 未保存flush+残高side即切替+offset_floor事後再適用+090誤記修正 (12 tests)
  docs/v460/090_ph2_deep_dive_v2_for_codex.md
  docs/v460/091_ph2_rev_090.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_091_fixes.py
Due: type-check, secrets-hygiene, test

feat: 092# 対応漏れ修正 E1閾値85%+E6 round-trip KPI+E7 inventory drift+time_filterテスト修正 (722 passed)
  configs/v460/gate_thresholds.yaml
  docs/v460/092_ph2_impl_gap_analysis.md
  scripts/v460/monitor_fill_test.py
  tests/unit/v460/test_092_gap_fixes.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

093# spread_adaptive/fast_fill_defense side-specific params (084# A,C)
  configs/v460/fill_test.yaml
  docs/v460/093_ph2_spread_adaptive_fast_fill.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_093_side_params.py
Due: type-check, secrets-hygiene, test

094# stale order cancel-replace: 価格乖離注文の再発注 (084# cancel-replace)
  configs/v460/fill_test.yaml
  docs/v460/094_ph2_stale_order_cancel_replace.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_094_stale_order.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

095# Codex review v3: SkipGate random classifier, adapter oscillation, state race
  docs/v460/095_ph2_codex_review_v3.md
Due: none

096# 095 Codex Review Response 実装: 状態分離特徴量契約修正warm startside-specific stalerolling window
  configs/v460/fill_test.yaml
  docs/096_ph2_impl.md
  docs/v460/096_ph2_rev_095.md
  scripts/v460/ml/feature_enricher.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_regime_detector.py
Due: type-check, secrets-hygiene, test

refactor(trading): shallow harden e2e validation flows and remove Any
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/e2e_test_framework.py
  ztb/trading/end_to_end_validation.py
Due: type-check, secrets-hygiene, test

097# SkipGate AS model retrained with preorder-only features (k=10)
  docs/v460/065_as_lr_prep.md
  docs/v460/065_as_lr_wf_results.json
  scripts/v460/ml/walk_forward_as.py
  scripts/v460/run_065_as_lr_prep.py
Due: type-check, secrets-hygiene, test

097# doc: SkipGate AS preorder-only再訓練レポート
  docs/v460/097_ph2_skipgate_retrain_preorder.md
Due: none

perf(backtest): optimize integrated aggregation and remove Any debt
  docs/v460/036_phg_plan_any_reduction_preparation.md
  docs/v460/080_phg_dedup_and_inheritance.md
  ztb/trading/backtest/integrated_backtest_runner.py
Due: type-check, secrets-hygiene, test

098# ph2 deep analysis: 097# post-deploy structural diagnosis + improvement strategy
  docs/v460/098_ph2_post_097_deep_analysis.md
Due: none

docs(v460): add 099 review for 098 with trader perspective
  docs/v460/099_ph2_rev_098.md
  docs/v460/index.md
Due: none

refactor(types): remove Any from data validation and config helpers
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/data/data_validation.py
  ztb/utils/config.py
Due: type-check, secrets-hygiene, test

100# P0/P1 implementation: FastFillDefense extraction, SkipGate warm_start calibration, per-side state isolation
  configs/v460/fill_test.yaml
  docs/v460/100_ph2_additional_structural_issues.md
  docs/v460/100_ph2_implementation.md
  scripts/v460/lib/fast_fill_defense.py
  scripts/v460/ml/skip_gate.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_088_features.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_100_fast_fill_defense.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_fill_test_config.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

101# structural fixes: 1-7 + P1-5 regime warm-up
  docs/v460/101_structural_fixes.md
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_101_structural_fixes.py
  tests/unit/v460/test_pnl_monte_carlo.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

refactor(json): deduplicate JSON loaders and harden MTF optimizer
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/io/__init__.py
  ztb/io/json_io.py
  ztb/training/reward_function_optimizer/candidate_evaluator.py
  ztb/training/reward_function_optimizer/config_manager.py
  ztb/training/reward_function_optimizer/mtf_optimizer.py
  ztb/training/reward_function_optimizer/mtf_scheduler.py
  ztb/training/reward_function_optimizer/reward_function_optimizer.py
  ztb/utils/safety.py
Due: type-check, secrets-hygiene, test

refactor(state): unify production JSON persistence helpers
  docs/v460/036_phg_plan_any_reduction_preparation.md
  ztb/trading/production/alert_system.py
  ztb/trading/production/emergency_stop.py
  ztb/trading/production/health_checker.py
  ztb/trading/production/paper_trading_manager.py
  ztb/trading/production/performance_monitor.py
  ztb/trading/production/real_time_metrics.py
  ztb/trading/production/recovery_system.py
  ztb/trading/production/result_comparator.py
  ztb/trading/production/risk_based_allocator.py
  ztb/trading/production/rollback_manager.py
  ztb/trading/production/state_persistence.py
  ztb/trading/production/system_switcher.py
  ztb/trading/production/traffic_distributor.py
  ztb/trading/production/virtual_portfolio_manager.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
