Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

385# AUDIT: 設定監査 + reward_scaling デッドコード検出 + gamma YAML model_dir 分離
  configs/v460/experiments/g2_sac_gamma095.yaml
  configs/v460/experiments/g2_sac_gamma099.yaml
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/385_config_audit.md
  docs/v460/385_next_steps_fee_fix_gamma_experiments.md
  tests/unit/v460/test_385_config_audit.py
Due: type-check, secrets-hygiene, test

386# FIX: P0-1 threshold統一 (0.3333→0.10) + P0-2 reward_scaling デッドコード修正
  configs/v460/experiments/g2_sac_gamma095.yaml
  configs/v460/experiments/g2_sac_gamma099.yaml
  configs/v460/experiments/g2_sac_train.yaml
  docs/v460/385_config_audit.md
  docs/v460/385_next_steps_fee_fix_gamma_experiments.md
  tests/unit/v460/test_385_config_audit.py
  ztb/trading/constants.py
  ztb/trading/env_config.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/utils/config.py
  ztb/trading/live_trader/config.py
Due: type-check, secrets-hygiene, test

386# FIX: P0-5 reward_settings YAML→env伝播バグ修正 + reward分析ドキュメント
  configs/v460/experiments/g2_sac_gamma095_reward_tuned.yaml
  docs/v460/385_config_audit.md
  docs/v460/386_reward_analysis.md
  tests/unit/v460/test_385_config_audit.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
Due: type-check, secrets-hygiene, test

386# FIX: behavior_optimization dict 保存 + reward-tuned YAML キー名修正
  configs/v460/experiments/g2_sac_gamma095_reward_tuned.yaml
  tests/unit/v460/test_385_config_audit.py
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

docs: 386# 報酬分析ドキュメント更新 (完全なパイプライン図 + YAML マッピング表 + P0-5 修正記録)
  docs/v460/386_reward_analysis.md
Due: none

386# FIX: reward_settings と behavior_optimization のマージ順序バグ修正
  tests/unit/v460/test_385_config_audit.py
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

386# FIX P0-8: experiment runner EnvironmentConfig from_dict
  scripts/v460/lib/tasks/sac_train.py
  tests/unit/v460/test_385_config_audit.py
Due: type-check, secrets-hygiene, test

387# FIX: BayesianRegimeFilter.get_state() deque スライス TypeError
  scripts/v460/lib/bayesian_regime_filter.py
  tests/unit/v460/test_bayesian_regime_filter.py
Due: type-check, secrets-hygiene, test

docs: 386# P0-6/7/8 追記
  docs/v460/385_config_audit.md
Due: none

386# FIX: reward_settings を environment セクション配下に移動
  configs/v460/experiments/g2_sac_gamma095_reward_tuned.yaml
Due: secrets-hygiene

session037: tighten v460 setup and sqlite cache ttl test
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/training/unified_trainer/test_algorithms.py
  tests/unit/cache/test_sqlite_cache.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_385_config_audit.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/features/unified_feature.py
  ztb/multimodal/optimization/quantization.py
  ztb/training/gradient_accumulation.py
  ztb/training/unified_trainer/algorithms/self_supervised_trainer.py
Due: type-check, secrets-hygiene, test

session037: expand import and yaml cleanup wave
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/cache/test_sqlite_cache.py
  tests/unit/v460/test_183_log_analysis_improvements.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_385_config_audit.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sidecar_sac_integration.py
Due: type-check, secrets-hygiene, test

session037: expand cleanup wave and shallow serialization reuse
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/analysis/oracle_baseline.py
  scripts/v460/ml/run_ml_pipeline.py
  tests/unit/v460/test_145_s14_structural_refactors.py
  tests/unit/v460/test_202_log_improvements.py
  tests/unit/v460/test_259_as_vol_ratio_adaptation_hasattr.py
  tests/unit/v460/test_372_skip_gate_move_and_vg_jsonl.py
  tests/unit/v460/test_373_critical_fixes.py
  tests/unit/v460/test_374_proportional_boost.py
  tests/unit/v460/test_config_validation.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/io/json_io.py
  ztb/utils/config_fingerprint.py
  ztb/utils/file_utils.py
Due: type-check, secrets-hygiene, test

session037: trim source assertions and env setup wave
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_145_s14_structural_refactors.py
  tests/unit/v460/test_261_protocol_type_safety.py
  tests/unit/v460/test_356_g2_sac_blockers.py
Due: type-check, secrets-hygiene, test

session037: unify v460 yaml helpers and trim source hotspots
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/maker_price.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/_yaml_test_helpers.py
  tests/unit/v460/conftest.py
  tests/unit/v460/test_013_fixes.py
  tests/unit/v460/test_139_review_fixes.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_146_multi_exchange.py
  tests/unit/v460/test_183_log_analysis_improvements.py
  tests/unit/v460/test_202_log_improvements.py
  tests/unit/v460/test_261_protocol_type_safety.py
  tests/unit/v460/test_config_validation.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_regime_detector.py
  ztb/utils/run_manifest.py
Due: type-check, secrets-hygiene, test

docs: 387# reward-tuned結果 + warm-start計画 + 修正履歴追記
  docs/v460/386_reward_analysis.md
Due: none

session037: extend yaml cleanup and trim v460 setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_102_structural_fixes.py
  tests/unit/v460/test_137_p1_features.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_276_blocking_policy_dry.py
  tests/unit/v460/test_277_magic_number_grounding.py
  tests/unit/v460/test_286_comprehensive_resolution.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

session037: add jsonl fast path and quick v460 wins
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/utils/test_jsonl.py
  tests/unit/v460/test_275_dry_separation_and_theory.py
  tests/unit/v460/test_fill_quality.py
  ztb/io/jsonl.py
Due: type-check, secrets-hygiene, test

session037: cache env process handles and trim real-data setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/trading/environment/components/memory_manager.py
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

docs: index.md 更新 + 欠番ファイル整理 + 385/386 索引追加
  CHANGELOG.md
  docs/v460/002_ph0_rev_001.md
  docs/v460/003_ph0_rev_impl.md
  docs/v460/004_ph0_rev_fix.md
  docs/v460/006_ph1_rev_005.md
  docs/v460/007_ph1_resp_006.md
  docs/v460/008_ph1_ver_007.md
  docs/v460/011_ph2_rev_010.md
  docs/v460/012_ph2_resp_011.md
  docs/v460/016_ph3_resp_015.md
  docs/v460/017_ph3_ver_016.md
  docs/v460/020_ph2_rev_019.md
  docs/v460/024_ph2_rev_022.md
  docs/v460/025_ph2_rev_023.md
  docs/v460/026_ph2_resp_024.md
  docs/v460/027_ph2_resp_025.md
  docs/v460/029_phg_rev_028.md
  docs/v460/030_phg_resp_029.md
  docs/v460/035_phg_rev_034.md
  docs/v460/044_ph2_rev_043.md
  docs/v460/045_ph2_resp_044_bug_fixes.md
  docs/v460/049_ph2_rev_048.md
  docs/v460/055_ph2_rev_054.md
  docs/v460/056_ph2_impl_review_response.md
  docs/v460/060_ph2_impl_summary.md
  docs/v460/139_ph2_review_fixes_137_138.md
  docs/v460/382_ph3_rev_379_sb3_stub_and_g2_pipeline_review.md
  docs/v460/383_gemini_sb3_pipeline_and_codex_review.md
  docs/v460/index.md
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/trading/environment/components/memory_manager.py
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

session037: trim config checks and proxy feature setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_286_comprehensive_resolution.py
  tests/unit/v460/test_build_features_pipeline.py
Due: type-check, secrets-hygiene, test

D388# docs: rename 384-387 to NNN_phX_TYPE convention, fix 386->387 refs, add G3 plan
  docs/v460/384_ph3_rev_cross_validation_codex_gemini.md
  docs/v460/385_ph3_rpt_config_audit.md
  docs/v460/386_ph3_plan_fee_fix_gamma_experiments.md
  docs/v460/387_ph3_rpt_reward_analysis.md
  docs/v460/388_ph3_plan_g3_pnl_preparation.md
  docs/v460/index.md
  scripts/v460/lib/tasks/sac_train.py
  tests/unit/v460/test_385_config_audit.py
  ztb/trading/constants.py
  ztb/trading/env_config.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/utils/config.py
  ztb/trading/live_trader/config.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
Due: type-check, secrets-hygiene, test

docs: 391# fill test deep dive root cause analysis
  docs/v460/391_fill_test_deep_dive_root_cause.md
  docs/v460/index.md
Due: none

D392# resp: 389/390 review validity assessment, fix YAML drift
  configs/v460/experiments/g2_sac_gamma095_reward_tuned.yaml
  docs/v460/392_ph3_resp_389_390_review_validity.md
  docs/v460/index.md
Due: secrets-hygiene

docs: 395# SHA-fenced empirical validation of 393#/394# reviews
  docs/v460/395_ph3_rev_393_394_empirical_validation.md
  docs/v460/index.md
Due: none

session037: trim heavy env teardown and parquet select reads
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_286_comprehensive_resolution.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

session037: cache field metadata and trim env setup
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_303_review_implementations.py
  tests/unit/v460/test_336_fill_config_parser.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

session037: cache config audits and refactor env helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/feature_enricher.py
  tests/unit/v460/test_385_config_audit.py
Due: type-check, secrets-hygiene, test

396# G3 pipeline impl: evaluate_model_oos G3 metrics + _evaluate_g3_from_results + G2 artifact re-save
  docs/v460/396_ph3_impl_g3_pipeline_and_alignment.md
  results/v460/v460_g2train_seed42_20260311_202003.json
  results/v460/v460_g2train_seed42_20260312_073155.json
  results/v460/v460_g2train_seed42_20260312_113612.json
  scripts/v460/lib/sac_common.py
  scripts/v460/run_experiment.py
  tests/unit/v460/test_396_g3_pipeline.py
Due: type-check, secrets-hygiene, test

feat: 397# confidence[0.7,0.9) offset×1.2 boost + JST 23h guard強化
  configs/v460/fill_test.yaml
  docs/v460/397_ph3_confidence_band_jst23h_fix.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/maker_regime_boost.py
  scripts/v460/lib/regime_detector.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_258_as_reservation_vpin_continuous_protocol.py
  tests/unit/v460/test_259_as_vol_ratio_adaptation_hasattr.py
  tests/unit/v460/test_260_compute_extract_regime_split.py
  tests/unit/v460/test_261_protocol_type_safety.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

session037: reuse proxy rolling stats and trim v460 core tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/build_features.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_157_regime_features.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_build_features_pipeline.py
  tests/unit/v460/test_v460_core.py
Due: type-check, secrets-hygiene, test

session037: reduce call overhead and reuse proxy rolling stats
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_092_gap_fixes.py
  tests/unit/v460/test_262_protocol_cancel_recheck.py
  tests/unit/v460/test_skip_gate_v3.py
Due: type-check, secrets-hygiene, test

session037: trim sidecar cache and threshold test overhead
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/build_features.py
  tests/unit/v460/test_092_gap_fixes.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_262_protocol_cancel_recheck.py
  tests/unit/v460/test_264_kelly_criterion.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_skip_gate_v3.py
  tests/unit/v460/test_v460_core.py
  tests/unit/v460/test_websocket_client.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
