Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

518# 方向修正: 515#/516#/517# 三文書検証と統合分析 — sell ceiling cap (0.20) が真因特定
  docs/v460/515_fill_test_restart_deep_dive.md
  docs/v460/518_reconciliation_515_516_517_direction_correction.md
Due: none

519# sell ceiling 0.20->0.25 + favorable_tighten true + SDK window 50->30 (518# P0)
  configs/v460/fill_test.yaml
  docs/v460/519_ph2_impl_sell_ceiling_favorable_tighten_sdk_window.md
  docs/v460/index.md
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

522# balance-forcing 完全撤廃: balance_switch/recovery_skew/inventory_escape 削除 + 切り捨て/丸め監査
  configs/v460/fill_test.yaml
  docs/v460/522_ph2_impl_balance_forcing_abolish_and_truncation_audit.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  tests/unit/v460/test_091_fixes.py
  tests/unit/v460/test_285_split_brain_guard.py
  tests/unit/v460/test_292_observability.py
  tests/unit/v460/test_346_fill_config_validation.py
Due: type-check, secrets-hygiene, test

refactor: stabilize trainer fallback dimensions
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

refactor: separate reward telemetry from scalar payloads
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/v460/test_reward_component_tracking_migration.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/calculators/reward_component_tracking.py
Due: type-check, secrets-hygiene, test

refactor: streamline trainer integration helpers and tmp-path tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/unified_trainer/test_algorithms.py
  tests/unit/training/test_unified_optimizer.py
  tests/unit/training/test_unified_trainer_advanced_feature_setup.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

refactor: share training stats payload shaping
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/algorithms/sac/test_sac_compression.py
  tests/unit/training/test_training_stats_payloads.py
  ztb/training/training_stats_payloads.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

refactor: tighten reward and reporting ownership
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_reward_components_persistence.py
  tests/unit/training/test_training_reporting_flow.py
  tests/unit/v460/test_reward_component_tracking_migration.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/components/calculators/reward_component_tracking.py
  ztb/training/unified_trainer/reporting.py
  ztb/training/unified_trainer/trainer.py
Due: type-check, secrets-hygiene, test

523# 二重ceiling撤廃: maker_price中間ceiling削除→offset_pipeline一本化 + IE duty counter dead code cleanup
  docs/v460/523_ph2_impl_double_ceiling_fix_and_dead_code_cleanup.md
  docs/v460/index.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/orchestrator_lifecycle.py
  scripts/v460/lib/resilience.py
  tests/unit/v460/test_421_final_clamp_deadlock.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

refactor: relocate training stats payload helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/test_model_compression.py
  tests/unit/training/test_ppo_trainer.py
  tests/unit/training/test_reward_components_persistence.py
  tests/unit/training/test_training_stats_payloads.py
  ztb/training/unified_trainer/advanced_feature_setup.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/training/unified_trainer/trainer.py
  ztb/training/utils/training_stats_payloads.py
Due: type-check, secrets-hygiene, test

refactor: clarify training helper placement and trim tempdir tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/test_grad_probe_guard.py
  tests/training/test_lagrange_integration.py
  tests/training/test_ppo_trainer.py
  ztb/training/unified_trainer/components/reporter.py
Due: type-check, secrets-hygiene, test

refactor: align training helper ownership and trim gate tempdirs
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_unified_trainer_advanced_feature_setup.py
  tests/unit/v460/test_gate_judgment.py
  ztb/training/unified_trainer/advanced_feature_setup.py
Due: type-check, secrets-hygiene, test

test: finish training tmp-path sweep and document helper reuse
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/test_ppo_trainer.py
Due: type-check, secrets-hygiene, test

refactor: share ab judgment insufficient paths and trim resilience tempdirs
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/lib/ab_judgment.py
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_160_ab_judgment.py
  ztb/adaptation/ab_test/judgment_rules.py
Due: type-check, secrets-hygiene, test

refactor: canonicalize shared record metrics
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/analysis/side_regime_dashboard.py
  scripts/v460/lib/ab_judgment.py
  scripts/v460/lib/metrics_utils.py
  scripts/v460/lib/stopgap_health.py
  ztb/metrics/record_metrics.py
Due: type-check, secrets-hygiene, test

524# preflight_skip_exceeded 停止分析: sell注文スタック→両側膠着の根本原因特定 + open order cancel提案
  docs/v460/524_phg_rpt_preflight_skip_exceeded_analysis.md
  docs/v460/index.md
Due: none

526# ログ可観測性改善: order_id/残高コンテキスト追加 + _apply_final_offset_ceiling dead code削除
  docs/v460/526_phg_impl_log_observability_and_dead_code.md
  docs/v460/index.md
  scripts/v460/lib/balance_checker.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/order_monitor.py
Due: type-check, secrets-hygiene, test

refactor: tighten wave2 and sac memory ownership
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  scripts/v460/lib/ab_judgment.py
  scripts/v460/lib/maker_price.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/training/test_sac_memory_monitor.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/training/sac/__init__.py
  ztb/training/sac/memory_monitor.py
Due: type-check, secrets-hygiene, test

527# JPY精度改善: 残高ログ:.0f→:.2f + adapter int()→round(,8) + silent except可観測化
  docs/v460/527_phg_impl_jpy_precision_and_silent_except.md
  docs/v460/index.md
  scripts/v460/lib/adaptation_engine.py
  scripts/v460/lib/balance_checker.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/orchestrator_lifecycle.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_013_fixes.py
  ztb/trading/live/exchanges/coincheck/adapter.py
Due: type-check, secrets-hygiene, test

528# Codex未使用import整理 + Codexレビュードキュメント追加 + ランタイム更新
  cache/sidecar_signal.json
  docs/v460/516_phg_rev_501_513_515_multifaceted_validation.md
  docs/v460/517_phg_second_opinion_515_516_validation.md
  docs/v460/525_phg_rev_520_524_maintainability_and_dedup_review.md
  optimization_results/versions.json
  ztb/data/streaming_pipeline.py
  ztb/training/checkpoint/checkpoint_manager.py
Due: type-check, secrets-hygiene, test

test: trim system optimizer fixed waits
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/training/test_system_optimizer.py
Due: type-check, secrets-hygiene, test

refactor: consolidate memory monitor helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/training/test_sac_memory_monitor.py
  tests/unit/utils/test_memory_monitor.py
  ztb/training/sac/__init__.py
  ztb/training/sac/memory_monitor.py
  ztb/utils/memory_monitor.py
Due: type-check, secrets-hygiene, test

529# fill_test取引損益分析 (2026-03-22)
  docs/v460/529_phg_rpt_fill_test_trade_analysis_20260322.md
Due: none

528# ドキュメント追加: Codex未使用import整理 + レビュードキュメント追加の記録
  docs/v460/528_phg_impl_codex_import_cleanup_and_review_docs.md
Due: none

532# 530#/531#見落とし論点の検証
  docs/v460/532_phg_rev_530_531_blind_spot_verification.md
Due: none

534# veto deadlock prevention + log_cycle_no join key + log improvements
  configs/v460/fill_test.yaml
  docs/v460/534_phg_impl_veto_deadlock_prevention_and_log_improvements.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/maker_risk_guards.py
  tests/unit/v460/test_439_cross_venue_lead_lag.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

535# impl: pre-emptive CV kill (532# P1-5) + min_spread_jpy 700->500 (P1-6)
  configs/v460/fill_test.yaml
  docs/v460/535_phg_impl_preemptive_cv_kill_and_min_spread.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_guards.py
  tests/unit/v460/test_190_ev_weighted_safety.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_535_preemptive_cv_kill.py
Due: type-check, secrets-hygiene, test

537# review: 536# 風水渙アーキテクチャ断捨離レビューと拡張提案
  docs/v460/537_phg_review_536_architecture_simplification.md
Due: none

539#: 風水渙に基づく状態棚卸しと削減スコアカードの策定
  docs/v460/539_phg_huan_simplification_scorecard.md
Due: none

540# 536-539独立検証: pipeline二重構造発見, spread_adapt主犯特定, Phase 1 YAML施策 (sell max_kill 1800->600, composite_risk 1.5->1.0)
  configs/v460/fill_test.yaml
  docs/v460/540_phg_verify_536_539_pipeline_reality_check.md
  docs/v460/index.md
Due: secrets-hygiene

541# pipeline最適化: lazy import引き上げ(8箇所) + pre-order disabled stage 5段のスキップ最適化 + 陳腐化テスト修正
  docs/v460/540_phg_verify_536_539_pipeline_reality_check.md
  docs/v460/index.md
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/maker_risk_guards.py
  scripts/v460/lib/offset_pipeline.py
  tests/unit/v460/test_093_side_params.py
  tests/unit/v460/test_168_low_vol_offset_boost.py
Due: type-check, secrets-hygiene, test

fix: restore drawdown telemetry contract
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/v460/test_260_compute_extract_regime_split.py
  ztb/trading/environment/heavy_env/core.py
Due: type-check, secrets-hygiene, test

542# ceiling 0.25→0.30: spread_adapt narrow boost情報損失の解消 + 残存identity段6段のスキップ不可確認 + test_405陳腐化修正
  configs/v460/fill_test.yaml
  docs/v460/540_phg_verify_536_539_pipeline_reality_check.md
  docs/v460/index.md
  tests/unit/v460/test_405_offset_ceiling_pipeline.py
Due: type-check, secrets-hygiene, test

543# Phase 3: OFI-Lite (CKS 2014) + Toxicity Budget独立化 + A-S δ*計測
  docs/v460/540_phg_verify_536_539_pipeline_reality_check.md
  docs/v460/541_phg_pipeline_optimization_lazy_import_stage_skip.md
  docs/v460/542_phg_ceiling_030_identity_audit_memleak.md
  docs/v460/543_phg_phase3_ofi_toxicity_as_delta.md
  docs/v460/index.md
  scripts/v460/lib/maker_microstructure.py
  scripts/v460/lib/maker_price.py
  ztb/risk/sell_dynamic_kill.py
  ztb/risk/toxicity_budget.py
  ztb/trading/pricing/ofi_lite.py
Due: type-check, secrets-hygiene, test

544# Phase 4: δ*→spread_adapt動的バインド + OFI rolling + sidecar 0.20
  configs/v460/fill_test.yaml
  docs/v460/540_phg_verify_536_539_pipeline_reality_check.md
  docs/v460/544_phg_phase4_delta_star_ofi_window_sidecar_ladder.md
  docs/v460/index.md
  scripts/v460/lib/maker_price.py
Due: type-check, secrets-hygiene, test

545# Phase 4b: OFI→boost変調 / Toxicity→sidecar confidence / δ*→sidecar動的天井
  docs/v460/544_phg_phase4_delta_star_ofi_window_sidecar_ladder.md
  docs/v460/545_phg_phase4b_ofi_boost_toxicity_sidecar_dynamic.md
  docs/v460/index.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/orchestrator_mid_cycle.py
Due: type-check, secrets-hygiene, test

test: refresh order monitor policy contracts
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/521_phg_master_deferred_and_architecture_carryforward.md
  tests/unit/v460/test_143_regime_utilization.py
Due: type-check, secrets-hygiene, test

546# sidecar quadratic shaping + OFI k config化 + レビュー依頼文書
  configs/v460/fill_test.yaml
  docs/v460/546_phg_review_request_next_steps.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_260_compute_extract_regime_split.py
Due: type-check, secrets-hygiene, test

548#: フェーズ4の葛藤と盲点・時間制約の本質的解釈と対策提言
  docs/v460/548_phg_phase4_dilemma_and_true_nature_of_time_restrictions.md
Due: none
