Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

docs: add 591#/592#/614# reviews, Codex prompt, cleanup 605# erratum
  docs/v460/561_phg_rpt_sell_side_tail_risk_analysis.md
  docs/v460/591_phg_rev_590_fill_test_trade_level_root_cause_review.md
  docs/v460/592_cplt_log_audit_and_alpha_corrections.md
  docs/v460/605_phg_retrospective_post_dispersion_cycle.md
  docs/v460/614_phg_attribution_spec_and_sidecar_contract.md
  prompts/codex_605_wave2_wave5_resume.md
Due: none

docs: add prompts 615 and 616 for Gemini specifications
  prompts/615_gemini_614_errata_prompt.md
  prompts/616_gemini_phase2_spec_prompt.md
Due: none

docs: add 615# errata and spec refinement
  docs/v460/615_phg_614_errata_and_spec_refinement.md
Due: none

test: widen cached fill-test config sweeps
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/v460/test_139_review_fixes.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_155_hindsight_review.py
  tests/unit/v460/test_158_regime_deadlock_fix.py
  tests/unit/v460/test_168_daily_drawdown_guard.py
  tests/unit/v460/test_168_pnl_measurer_sell_hold.py
  tests/unit/v460/test_176_trending_offset_asymmetry.py
  tests/unit/v460/test_187_chase_direction_guard_trace.py
  tests/unit/v460/test_188_split_evc_macro.py
  tests/unit/v460/test_190_ev_weighted_safety.py
  tests/unit/v460/test_193_ev_offset.py
  tests/unit/v460/test_195_velocity_b1_soft.py
  tests/unit/v460/test_226_loss_boost_decay_inv_skew_state.py
  tests/unit/v460/test_228_inv_decay_hasattr_removal.py
  tests/unit/v460/test_273_kill_time_limit_halt_untick_recovery_grace.py
  tests/unit/v460/test_274_pattern_c_theory_cleanup.py
  tests/unit/v460/test_276_blocking_policy_dry.py
  tests/unit/v460/test_277_magic_number_grounding.py
  tests/unit/v460/test_292_observability.py
  tests/unit/v460/test_303_review_implementations.py
  tests/unit/v460/test_306_proposals.py
  tests/unit/v460/test_421_final_clamp_deadlock.py
  tests/unit/v460/test_440_regime_side_offset.py
  tests/unit/v460/test_593_ev_toxic_skip_and_cap_hit_veto.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_skip_gate_v3.py
  tests/unit/v460/test_velocity_skip_rule.py
Due: type-check, secrets-hygiene, test

test: finish safe cached yaml residual sweep
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/v460/test_094_stale_order.py
  tests/unit/v460/test_163_regime_adaptive_gating.py
  tests/unit/v460/test_183_log_analysis_improvements.py
  tests/unit/v460/test_249_directional_alpha.py
  tests/unit/v460/test_596_primary_consecutive_skip_safety.py
Due: type-check, secrets-hygiene, test

test: trim tempfile-heavy config and cache suites
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/cache/test_data_loader.py
  tests/unit/cache/test_sqlite_cache.py
  tests/unit/config/test_config.py
  tests/unit/config/test_config_manager.py
Due: type-check, secrets-hygiene, test

test: note git recovery and trim parquet temp files
  AGENTS.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/cache/test_parquet_io.py
Due: type-check, secrets-hygiene, test

test: trim unittest and smoke tempfile overhead
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/integration/smoke_tests.py
  tests/unit/config/test_unified_config.py
Due: type-check, secrets-hygiene, test

test: widen named-tempfile cleanup sweeps
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/algorithms/test_market_regime_system.py
  tests/unit/analysis/test_v4xx_unified_analyzer.py
  tests/unit/integration/test_unified_trainer_integration.py
Due: type-check, secrets-hygiene, test

feat: Attribution Phase 2 + NormLoader + norm.json export (614#-617# implementation)
  docs/v460/index.md
  prompts/618_gemini_implementation_prompt.md
  scripts/v460/analysis/analyze_fill_logs.py
  scripts/v460/ml/sac_retrain_scheduler.py
  ztb/features/norm_loader.py
Due: type-check, secrets-hygiene, test

docs: 618#-619# milestone + NormLoader clipping fix (OnlineScaler parity)
  docs/v460/618_phg_impl_attribution_phase2_and_feature_parity.md
  docs/v460/619_cplt_milestone_605_619_integration_report.md
  docs/v460/index.md
  ztb/features/norm_loader.py
Due: type-check, secrets-hygiene, test

fix(620#): skip_gate regime_thresholds bypass + sidecar ceiling ordering
  docs/v460/index.md
  scripts/v460/lib/multiplicative_pipeline.py
  scripts/v460/lib/offset_pipeline.py
  ztb/ml/skip_gate.py
Due: type-check, secrets-hygiene, test

docs(620#): skip_gate regime bypass + sidecar ceiling fix document
  docs/v460/620_cplt_skip_gate_regime_bypass_and_sidecar_ceiling_fix.md
  docs/v460/index.md
Due: none

feat(621#): NormLoader sidecar inference + entry_gate observe + NormLoader tests
  configs/v460/fill_test.yaml
  docs/v460/621_cplt_619_remaining_tasks_normloader_and_entry_gate.md
  docs/v460/index.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/features/test_norm_loader.py
Due: type-check, secrets-hygiene, test

config(622#): SAD/MCB enabled: true + YAML comment fix (607# hot-reload)
  configs/v460/fill_test.yaml
Due: secrets-hygiene

feat(622#): skip_gate diagnostic logging + analyze threshold_used distribution
  scripts/v460/analysis/analyze_fill_logs.py
  ztb/ml/skip_gate.py
Due: type-check, secrets-hygiene, test

docs(622#): SAD/MCB enablement + skip_gate diagnostic logging
  docs/v460/622_cplt_sad_mcb_enablement_and_diagnostic_logging.md
  docs/v460/index.md
Due: none

config(623#): hard_skip_utc_hours 廃止 → skip_gate/ceiling/boost に委譲 (536# 渙)
  configs/v460/fill_test.yaml
Due: secrets-hygiene

docs(623#): index.md に hard_skip 廃止エントリ追加
  docs/v460/index.md
Due: none

docs(623#): hard_skip 廃止ドキュメント + index.md 更新
  docs/v460/623_cplt_hard_skip_abolition_dynamic_defense_delegation.md
  docs/v460/index.md
Due: none

test: share training tempdir cleanup patterns
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/integration/test_checkpoint_logging_integration.py
  tests/unit/training/test_checkpoint_manager.py
  tests/unit/training/test_training_resume.py
Due: type-check, secrets-hygiene, test

feat(624#): kill duration drift fix + min_spread ATR連動 (536# 渙)
  configs/v460/fill_test.yaml
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_273_kill_time_limit_halt_untick_recovery_grace.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

docs(624#): kill drift fix + min_spread ATR ドキュメント
  docs/v460/624_cplt_kill_drift_fix_and_min_spread_atr.md
  docs/v460/index.md
Due: none

feat(625#): min_spread動的BPSフロア + 624#バグ修正3件
  configs/v460/fill_test.yaml
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_190_ev_weighted_safety.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

docs(625#): min_spread 動的BPSフロア ドキュメント
  docs/v460/625_cplt_min_spread_dynamic_bps_floor.md
  docs/v460/index.md
Due: none

docs(626#): sell損失の構造的根本原因分析 — 5段防御不発火の定量立証
  docs/v460/626_cplt_sell_loss_structural_root_cause_analysis.md
Due: none

fix(629#): sidecar stale→errorキャッシュバグ修正 + レビュー評価ドキュメント
  docs/v460/629_cplt_review_evaluation_sidecar_cache_fix.md
  scripts/v460/lib/sidecar_signal_io.py
  tests/unit/v460/test_sidecar_sac_integration.py
Due: type-check, secrets-hygiene, test

630# P1 threshold tuning: vel_skip 6->4, regime 0.5->0.20, VG 12->6
  configs/v460/fill_test.yaml
  docs/v460/630_cplt_p1_threshold_tuning.md
Due: secrets-hygiene

631# fix: min_spread_floor_bps 3.8->0.38 (10x calculation error in 625#)
  configs/v460/fill_test.yaml
  docs/v460/625_cplt_min_spread_dynamic_bps_floor.md
  docs/v460/631_cplt_min_spread_bps_floor_10x_fix.md
Due: secrets-hygiene

631# fix: remove post-startup orphan cleanup (venv launcher kill cascades to child)
  ops/windows/hot_swap_restart.ps1
Due: none

631# docs: update with venv launcher trampoline analysis
  docs/v460/631_cplt_min_spread_bps_floor_10x_fix.md
Due: none

632# P2 ATR floor calibration + log/helper improvements
  configs/v460/fill_test.yaml
  docs/v460/632_cplt_p2_atr_floor_log_improvements.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/monitor_fill_test.py
  tests/unit/v460/test_239_feasible_quote.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

632# fix: remove duplicate numpy import in monitor_fill_test
  scripts/v460/monitor_fill_test.py
Due: type-check, secrets-hygiene, test

refactor: unify analysis text output contracts
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/598_phg_investigation_next_death_spiral_candidates.md
  scripts/v460/analysis/oracle_baseline.py
  scripts/v460/analysis/oracle_test.py
  scripts/v460/analysis/reproduce_152_metrics.py
  scripts/v460/analysis/tail_loss_analysis.py
  tests/unit/v460/test_analysis_output_contracts.py
Due: type-check, secrets-hygiene, test

633# Death Spiral深掘り分析: 7日間全量解析 + VG/clamp/AS根本原因特定 + 入金不可制約下の改善提案
  docs/v460/633_cplt_post_restart_analysis.md
Due: none

633# SHA別性能分析: Era-D黒字構造とEra-E clamp飽和問題の定量判定
  docs/v460/633_cplt_post_restart_analysis.md
Due: none

test: trim temp lifecycle and follow live yaml config
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/integration/test_checkpoint_logging_integration.py
  tests/multimodal/test_multimodal_core.py
  tests/trading/signal/test_entry_system.py
  tests/training/callbacks/test_callbacks.py
  tests/training/callbacks/test_integration.py
  tests/training/config/test_configuration_manager.py
  tests/unit/algorithms/test_ab_test_framework.py
  tests/unit/core/test_rollup_artifacts.py
  tests/unit/features/test_norm_loader.py
  tests/unit/training/test_training_resume.py
  tests/unit/v460/test_183_log_analysis_improvements.py
Due: type-check, secrets-hygiene, test

635# impl + 636# review: sell/ranging suppression with bug fixes
  .gitignore
  AGENTS.md
  configs/v460/fill_test.yaml
  docs/v460/634_phg_rev_628_633_profitability_reality_check_and_focus_plan.md
  docs/v460/635_cplt_profitability_focus_and_alpha_execution.md
  docs/v460/index.md
  scripts/v460/analysis/analyze_fill_logs.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/lib/side_selector.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_634_sell_ranging_suppression.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

docs: add 616#/617#/627#/628# docs + 636# remaining tasks and monitoring checklist
  docs/v460/616_phg_attribution_phase2_and_live_feature_spec.md
  docs/v460/617_phg_feature_parity_and_live_extraction_spec.md
  docs/v460/627_phg_rev_620_626_multifaceted_validation_and_structural_loss_debug.md
  docs/v460/628_cplt_second_opinion_626_627_structural_review.md
  docs/v460/635_cplt_profitability_focus_and_alpha_execution.md
Due: none

637# 三重構造損失分析: 逆選択/レートリミッター/残高制約の根本原因特定 + 大川施策提案
  docs/v460/637_cplt_post_restart_triple_loss_analysis.md
Due: none

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
