Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

type-check:
  name: Type check with mypy
  entry: mypy
  language: system
  args:
  - --config-file
  - mypy.ini

secrets-hygiene:
  name: Check for sensitive data leaks
  entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
  language: system
  pass_filenames: true

test:
  name: Run unit tests
  entry: npm run test:unit
  language: system
  pass_filenames: false

session037: share reward calculator and artifact helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/_reward_calculator_test_helpers.py
  tests/unit/v460/_skip_gate_test_helpers.py
  tests/unit/v460/test_409_improvement_fixes.py
  tests/unit/v460/test_codex_408_409_fixes.py
  tests/unit/v460/test_retrain_hot_reload.py
  tests/unit/v460/test_skip_gate_d8.py
Due: type-check, secrets-hygiene, test

450# cleanup: DRY test helpers昇格 (PickleStub/make_reward_calculator共通化) + ResponseStub具象化 + BatchPersistence柔軟化 + CHANGELOG/doc更新
  tests/unit/v460/test_013_fixes.py
  tests/unit/v460/test_fill_quality.py
Due: type-check, secrets-hygiene, test

452#/453# Micro-timeouts (TIF Emulation) サブサイクル re-quote 実装
  configs/v460/fill_test.yaml
  docs/v460/453_micro_timeout_implementation.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_cycle_executor.py
  tests/unit/v460/test_micro_timeout.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

453# review: micro-timeout self-review fixes
  docs/v460/453_micro_timeout_implementation.md
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  tests/unit/v460/test_micro_timeout.py
Due: type-check, secrets-hygiene, test

453# R8: round() 削除 — Coincheck は 1 円以下の価格を許容
  docs/v460/453_micro_timeout_implementation.md
  scripts/v460/lib/fill_cycle_executor.py
Due: type-check, secrets-hygiene, test

session037: bound ml caches and cycle cleanup (削除漏れ修正 — 69ファイル不当削除をrevert)
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/ml/data_loader.py
  scripts/v460/ml/feature_enricher.py
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/cache/test_memory_cache.py
  tests/unit/cache/test_sqlite_cache.py
  tests/unit/v460/test_253_hot_reload_dead_config_getattr_bare_except.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_ml_pipeline.py
  ztb/cache/memory_cache.py
  ztb/cache/sqlite_cache.py
Due: type-check, secrets-hygiene, test

session037: harden fill test memory diagnostics and ml cleanup
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/resilience.py
  scripts/v460/ml/cache_cleanup.py
  scripts/v460/ml/deploy_sg_v3.py
  scripts/v460/ml/deploy_sg_v4.py
  scripts/v460/ml/run_070_deep_analysis.py
  scripts/v460/ml/run_070_final_analysis.py
  scripts/v460/ml/run_070_model_search.py
  scripts/v460/ml/run_ml_pipeline.py
  scripts/v460/ml/train_alt_horizon.py
  scripts/v460/ml/train_sg_v2.py
  scripts/v460/ml/train_sg_v3.py
  scripts/v460/ml/tune_as_classifier.py
  scripts/v460/ml/walk_forward_as.py
  tests/unit/v460/test_fill_test_cli_diagnostics.py
  tests/unit/v460/test_health_monitor_resilience.py
  tests/unit/v460/test_ml_cache_cleanup.py
Due: type-check, secrets-hygiene, test

451# P0-4/P1-2/P1-3: git_sha filter + compound suppression diagnostic + toxicity budget有効化
  CHANGELOG.md
  configs/v460/fill_test.yaml
  docs/v460/451_ph2_p04_p12_p13_git_sha_compound_toxicity.md
  scripts/v460/analysis/ab_offset_comparison.py
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  tests/unit/v460/test_194_cycle_gate.py
  tests/unit/v460/test_441_ab_offset_comparison.py
Due: type-check, secrets-hygiene, test

session037: bound auxiliary csv and optimization caches
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/training/test_diverse_learning_methods.py
  tests/unit/utils/test_advanced_csv.py
  ztb/io/advanced_csv.py
  ztb/training/diverse_learning_methods.py
Due: type-check, secrets-hygiene, test

454# micro-timeout Step 1 有効化 + AGENTS.md 作成
  AGENTS.md
  configs/v460/fill_test.yaml
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_micro_timeout.py
Due: type-check, secrets-hygiene, test

454# 上昇トレンドにおける Sell 損失対策 — 包括設計メモ
  docs/v460/454_ph2_plan_uptrend_sell_loss_countermeasures.md
  docs/v460/index.md
Due: none

458# macro sell protection: hysteresis + F-lite boost + threshold + timeout + observability
  configs/v460/fill_test.yaml
  docs/v460/458_ph2_impl_macro_sell_protection.md
  docs/v460/index.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/macro_regime.py
  tests/unit/v460/test_macro_regime.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

458# self-review: hot-reload wiring + memory leak prevention
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/macro_regime.py
  tests/unit/v460/test_macro_regime.py
Due: type-check, secrets-hygiene, test

458# doc SR update + hot_swap_restart.ps1 improvements
  docs/v460/458_ph2_impl_macro_sell_protection.md
  ops/windows/hot_swap_restart.ps1
Due: none

459# ranging_buy_low_vol soft mode: hard skip -> offset boost delegation
  configs/v460/fill_test.yaml
  docs/v460/458_ph2_impl_macro_sell_protection.md
Due: secrets-hygiene

459# fix: call maybe_reload during gate blocks (deadlock hot-reload fix)
  scripts/v460/lib/orchestrator_mid_cycle.py
Due: type-check, secrets-hygiene, test

459# hot-reload lateral: inject maybe_reload into _effective_sleep + fix direct sleeps
  docs/v460/458_ph2_impl_macro_sell_protection.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
Due: type-check, secrets-hygiene, test

459# restart resilience: save final state snapshot in _cleanup_sync (atexit)
  docs/v460/458_ph2_impl_macro_sell_protection.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_lifecycle.py
Due: type-check, secrets-hygiene, test

460# run_single_cycle 分割 + 重複排除: offset pipeline 抽出, lot chain 統合
  docs/v460/458_ph2_impl_macro_sell_protection.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/offset_pipeline.py
Due: type-check, secrets-hygiene, test

460# doc: 459#/460# 単体ドキュメント作成 + index 更新 + 322#→323# 参照修正 + テスト修正 (offset pipeline 分割追従)
  docs/v460/459_ph2_impl_hot_reload_lateral_and_restart_resilience.md
  docs/v460/460_phg_refactor_offset_pipeline_extraction.md
  docs/v460/index.md
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/offset_pipeline.py
  scripts/v460/lib/pre_order_adjustments.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/test_168_low_vol_offset_boost.py
  tests/unit/v460/test_195_velocity_b1_soft.py
  tests/unit/v460/test_196_velocity_proportional_trending_soft.py
  tests/unit/v460/test_240_toxicity_budget.py
  tests/unit/v460/test_242_liveness_relaxation.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

461# skip_gate_evaluator Mixin split (1362->866) + MAX LINES 3files + fill test 5-day analysis
  docs/v460/461_phg_refactor_skip_gate_split_fill_test_analysis.md
  docs/v460/index.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/skip_gate_ev_weighted.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/lib/skip_gate_model_loader.py
  tests/unit/v460/_fill_test_source.py
  tests/unit/v460/test_139_review_fixes.py
  tests/unit/v460/test_141_side_specific_models.py
  tests/unit/v460/test_143_regime_utilization.py
  tests/unit/v460/test_255_getattr_bare_except_cleanup.py
Due: type-check, secrets-hygiene, test

461# fill test 10日間深堀り分析: 再起動境界比較 + 設計面/市場理論面考察 (Glosten-Milgrom/Avellaneda-Stoikov/Kyle) + P0-P2改善提案
  docs/v460/461_phg_refactor_skip_gate_split_fill_test_analysis.md
Due: none

463# fill test schema-aware検証: 461#修正 + 462#検証結果 + v3分析スクリプト
  docs/v460/461_phg_refactor_skip_gate_split_fill_test_analysis.md
  docs/v460/462_phg_rev_461_analysis_review_and_blindspots.md
  docs/v460/463_phg_fill_test_schema_verification.md
  temp/analyze_fill_test_v3.py
  temp/fill_v3_output.txt
Due: type-check, secrets-hygiene, test

465# モデル退化の根本原因修正: D1/D2 ガード + backup 復元 + balance_forced_switch 一貫性
  configs/v460/fill_test.yaml
  docs/v460/465_phg_model_degeneration_root_cause_and_fix.md
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/v460/test_retrain_hot_reload.py
Due: type-check, secrets-hygiene, test

466# メモリリーク修正・ConfigMap集約・DRY改善
  docs/v460/466_phg_memory_leak_fix_and_dry_improvements.md
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/v460/test_retrain_hot_reload.py
  ztb/training/algorithms/sac/sac_algorithm.py
  ztb/training/core/config_builder.py
  ztb/training/reward_function_optimizer/components/evaluation_engine.py
  ztb/training/reward_function_optimizer/components/optimization_engine.py
  ztb/training/reward_function_optimizer/parameter_space.py
  ztb/training/reward_function_optimizer/reward_function_optimizer.py
  ztb/utils/types.py
  ztb/utils/v4xx_config_converter.py
Due: type-check, secrets-hygiene, test

467# 残課題解消: config_hash, deep-night ceiling緩和, status_unknown_fast検知, hour-matched比較
  docs/v460/467_remaining_issues_resolution.md
  scripts/v460/analysis/hour_matched_comparison.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/offset_pipeline.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_467_remaining_issues.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

467# self-review fix: orchestrator clamp検知でrecord timestampを使用、カウンタロジック整理
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/orchestrator_post_cycle.py
Due: type-check, secrets-hygiene, test

468# P1/P2 deep-night防御強化: low_vol閾値0.65, sell_boost 5h追加, hour_ceiling_mult 5h設定
  configs/v460/fill_test.yaml
  docs/v460/467_remaining_issues_resolution.md
  docs/v460/468_p1_p2_deep_night_defense_tuning.md
  tests/unit/v460/test_168_low_vol_offset_boost.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
Due: type-check, secrets-hygiene, test

469# lock_conflict 二重プロセス防止: プロセススキャン + watchdog heartbeat fresh 抑制
  docs/v460/469_lock_conflict_dual_process_fix.md
  ops/windows/fill_test_watchdog.ps1
  scripts/v460/lib/lock_manager.py
  tests/unit/v460/test_286_comprehensive_resolution.py
Due: type-check, secrets-hygiene, test

469# YAML preflight 設定を元に戻す (入金完了)
  configs/v460/fill_test.yaml
Due: secrets-hygiene

docs: add 472# phantom midpoint math proof and market theory second opinion
  docs/v460/472_phg_rev_470_471_phantom_midpoint_and_market_theory.md
Due: none

docs: fix formatting and deeply expand 472# phantom midpoint and out-of-the-box ideas
  docs/v460/472_phg_rev_470_471_phantom_midpoint_and_market_theory.md
Due: none

docs: 473# verification of 471#/472# claims - _recalc protective for sell, aggressive for buy
  docs/v460/473_verification_471_472_claims.md
Due: none

fix: 474# triple bugfix - sell params P0, _recalc half-spread P1, micro-timeout formula P2, retrain_scheduler lock
  configs/v460/fill_test.yaml
  docs/v460/474_triple_bugfix_and_orphan_cleanup.md
  ops/windows/hot_swap_restart.ps1
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/pre_order_adjustments.py
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/v460/test_346_pre_order_adjustments.py
Due: type-check, secrets-hygiene, test

fix: 474# lock_manager exclude parent PID from running process detection
  scripts/v460/lib/lock_manager.py
Due: type-check, secrets-hygiene, test

feat: 475# ranging_sell_low_vol gate + 472 proposals review + 474 self-review
  configs/v460/fill_test.yaml
  docs/v460/475_472_proposals_review_and_474_selfreview.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/maker_price.py
  tests/unit/v460/test_475_ranging_sell_low_vol.py
Due: type-check, secrets-hygiene, test

475# GC防止策 + test修正: 30cycle毎GC, 日次RSS監視, test_421/194/197/220修正
  docs/v460/475_472_proposals_review_and_474_selfreview.md
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  tests/unit/v460/test_194_cycle_gate.py
  tests/unit/v460/test_197_boost_optimization_gate_integration.py
  tests/unit/v460/test_220_deadlock_fixes.py
  tests/unit/v460/test_421_final_clamp_deadlock.py
Due: type-check, secrets-hygiene, test

476# dust sweep修正: 0.001単位切り捨て廃止 + lot_scaleバイパス + 残高連動ロット(buy) + regime_mult対応
  docs/v460/476_dust_sweep_fix_and_truncation_removal.md
  scripts/v460/lib/balance_checker.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/order_monitor.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_dust_sweep.py
Due: type-check, secrets-hygiene, test

476#: _scale_lotフロアをmin_order_btcに修正 — DDsoft/alert/cooldownスケールダウンが正常機能するように
  docs/v460/476_dust_sweep_fix_and_truncation_removal.md
  scripts/v460/lib/fill_cycle_executor.py
Due: type-check, secrets-hygiene, test

Path conditions:
  type-check: any of: \.py$
  secrets-hygiene: any of: \.(py|json|yaml|yml)$
  test: any of: \.(py|ts)$
