Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

Codex Task: PPO Phase 3 prompt (test coverage, gate tests, OB features)
  prompts/codex_task_ppo_phase3.md
Due: none

refactor: harden ppo phase3 scheduler and relocate sidecar helpers
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/676_phg_ppo_foundation_inventory_and_compatibility.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  scripts/v460/ml/ppo_retrain_scheduler.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_sidecar_sac_integration.py
  ztb/training/sidecar/__init__.py
  ztb/training/sidecar/scheduler_common.py
Due: type-check, secrets-hygiene, test

refactor: split sell mitigation ppo warm-start helpers
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/676_phg_ppo_foundation_inventory_and_compatibility.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/integration/test_custom_ppo_integration.py
  tests/training/test_ppo_trainer.py
  ztb/training/core/ppo_trainer.py
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

681# docs: 4/1 fill analysis - structural improvements (sell clamp 100%, Skip Gate r=-0.20, AM/PM asymmetry, VG selectivity)
  docs/v460/681_cplt_apr1_fill_analysis_structural_improvements.md
Due: none

684# 681-683 統合レビュー: 多角的検証・盲点抽出 + Codex タスク設計 (SAC sell-aware / trend_5s guard)
  docs/v460/684_cplt_integrated_review_681_683_cross_validation.md
  docs/v460/index.md
  prompts/684_codex_task_sac_sell_aware.md
  prompts/684_codex_task_trend_5s_sell_guard.md
Due: none

685# Phase 1 sell protection: trending boost, SG thresholds, AM hour defense (684# S1/S3/S4/S5)
  configs/v460/experiments/g2_sac_train.yaml
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/684_cplt_integrated_review_681_683_cross_validation.md
  docs/v460/685_cplt_phase1_sell_protection_yaml_changes.md
  docs/v460/index.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/guard_reason_classifier.py
  scripts/v460/lib/multiplicative_pipeline.py
  scripts/v460/lib/offset_pipeline.py
  scripts/v460/lib/skip_gate_evaluator.py
  scripts/v460/ml/update_training_data.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_176_trending_offset_asymmetry.py
  tests/unit/v460/test_253_hot_reload_dead_config_getattr_bare_except.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_356_g2_sac_blockers.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  tests/unit/v460/test_585_multiplicative_pipeline.py
  tests/unit/v460/test_642_observability_fields.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  tests/unit/v460/test_sac_sell_aware_reward.py
  tests/unit/v460/test_skip_gate_v3.py
  tests/unit/v460/test_trend_5s_sell_guard.py
  ztb/features/scalping.py
  ztb/metrics/fill_quality.py
  ztb/ml/skip_gate_fill_record.py
  ztb/ml/skip_gate_result_fields.py
  ztb/trading/common/cancel_reasons.py
  ztb/trading/environment/components/calculators/reward_calculator.py
  ztb/trading/environment/utils/config.py
Due: type-check, secrets-hygiene, test

refactor: share ppo runtime limits and split fill-record io
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/training/test_ppo_trainer.py
  tests/unit/training/test_target_entropy.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_io.py
  ztb/training/core/ppo_trainer.py
  ztb/training/core/runtime_limits.py
  ztb/training/entropy_temperature.py
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

refactor: share sidecar policy helpers and trim scheduler tests
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  scripts/v460/ml/ppo_retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/ml/sidecar_scheduler_common.py
  tests/unit/training/test_target_entropy.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/training/sidecar/__init__.py
  ztb/training/sidecar/ppo_policy.py
  ztb/training/sidecar/scheduler_common.py
Due: type-check, secrets-hygiene, test

refactor: split fill record io and tighten ppo warm-start flow
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/integration/test_custom_ppo_integration.py
  tests/unit/v460/test_trend_5s_sell_guard.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_record_io.py
  ztb/training/core/ppo_trainer.pyi
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

686# 4日間データ分析・min_spread_atr_cap 2.0→1.2・Codex タスク設計
  configs/v460/fill_test.yaml
  docs/v460/686_cplt_4day_analysis_min_spread_relax_codex_tasks.md
  docs/v460/index.md
  prompts/686_codex_task_skipgate_bypass.md
  prompts/686_codex_task_test_infra_fix.md
Due: secrets-hygiene

fix: add skip gate bypass telemetry and test infra fallback
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/686_cplt_4day_analysis_min_spread_relax_codex_tasks.md
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/risk/test_rules.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_skip_gate_v3.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

686# 605# ドキュメント更新: 全Tier項目に686#時点のステータス追記
  docs/v460/605_phg_retrospective_post_dispersion_cycle.md
Due: none

refactor: split fill metrics core and share perf runner
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/conftest.py
  tests/integration/trading/test_signal_guidance_integration.py
  tests/unit/risk/test_rules.py
  tests/unit/v460/test_292_observability.py
  ztb/metrics/fill_metrics_core.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

687# ドキュメント棚卸し更新 + Codex タスク設計 (state分離 / torch隔離)
  docs/v460/638_phg_rev_635_637_multifaceted_validation_and_profit_actions.md
  docs/v460/672_cplt_deep_analysis_financial_engineering_information_theory.md
  docs/v460/684_cplt_integrated_review_681_683_cross_validation.md
  prompts/687_codex_task_state_separation.md
  prompts/687_codex_task_torch_test_isolation.md
Due: none

687# index.md 更新
  docs/v460/index.md
Due: none

refactor: separate executed and attempted side state
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/687_phg_state_separation_and_torch_test_isolation.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/side_selector.py
  tests/unit/v460/test_687_state_separation.py
  tools/ab_param_search.py
  ztb/metrics/fill_quality.py
  ztb/metrics/record_metrics.py
Due: type-check, secrets-hygiene, test

refactor: share pnl accumulators and neutral sidecar helpers
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  scripts/v460/ml/ppo_retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
  scripts/v460/ml/sidecar_scheduler_common.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
  ztb/metrics/fill_quality.py
  ztb/metrics/pnl_accumulators.py
  ztb/metrics/record_metrics.py
  ztb/training/sidecar/__init__.py
  ztb/training/sidecar/scheduler_common.py
Due: type-check, secrets-hygiene, test

688# YAML: sell_hour_boost UTC2/4 5.0, ceiling_mult 3.0/3.5, sell_ceiling 0.50
  configs/v460/fill_test.yaml
Due: secrets-hygiene

refactor: split fill judgment core and plan heavy setup bundles
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_judgment_core.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

688# docs: data analysis + Codex task prompts (timeout regime, skip audit)
  docs/v460/688_cplt_data_analysis_yaml_fix_codex_tasks.md
  prompts/688_codex_task_skip_audit_trace_id.md
  prompts/688_codex_task_timeout_regime_side.md
Due: none

refactor: preserve ppo warm-start continuity and trim heavy setup
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/688_cplt_data_analysis_yaml_fix_codex_tasks.md
  scripts/v460/test_env_internal.py
  tests/integration/test_custom_ppo_integration.py
  tests/training/test_ppo_trainer.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_ppo_warm_start.py
  ztb/training/core/ppo_trainer.py
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

689# Codex: timeout regime×side + decision trace ID + test fixes
  configs/v460/fill_test.yaml
  docs/v460/689_cplt_codex_timeout_regime_trace_id_integration.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/multiplicative_pipeline.py
  scripts/v460/lib/offset_pipeline.py
  scripts/v460/lib/orchestrator_balance.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  scripts/v460/lib/order_monitor.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_145_structural_fixes.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_253_hot_reload_dead_config_getattr_bare_except.py
  tests/unit/v460/test_276_blocking_policy_dry.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_518_monitor_and_ab_judgment_policy_migration.py
  tests/unit/v460/test_642_observability_fields.py
  tests/unit/v460/test_687_state_separation.py
  tests/unit/v460/test_688_timeout_trace_and_skip_audit.py
  ztb/metrics/fill_quality.py
  ztb/ml/skip_gate_fill_record.py
  ztb/trading/execution/order_monitor_policy.py
Due: type-check, secrets-hygiene, test

690# fix: torch DLL skip guard + Codex skip budget prompt
  prompts/690_codex_task_skip_budget.md
  tests/unit/tools/test_ab_param_search.py
Due: type-check, secrets-hygiene, test

feat: add bucketed skip budgets for skip gate
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/688_cplt_data_analysis_yaml_fix_codex_tasks.md
  docs/v460/690_phg_bucket_skip_budget_and_fill_observability.md
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/skip_gate_budget.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_690_skip_budget.py
  tests/unit/v460/test_fill_quality.py
  ztb/metrics/fill_quality.py
  ztb/ml/skip_gate_fill_record.py
  ztb/ml/skip_gate_result_fields.py
Due: type-check, secrets-hygiene, test

refactor: split fill judgments and trim heavy ppo tests
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
  ztb/metrics/fill_judgment_core.py
  ztb/metrics/fill_quality.py
  ztb/training/experiments/sell_mitigation_ppo_trainer.py
Due: type-check, secrets-hygiene, test

690# Codex 5件一括投入: entry_gate / skip_audit / timeout_test / offset_simplify / analysis_protocol
  docs/v460/690_phg_bucket_skip_budget_and_fill_observability.md
  prompts/690_codex_task_analysis_protocol.md
  prompts/690_codex_task_entry_gate_enable.md
  prompts/690_codex_task_offset_pipeline_simplify.md
  prompts/690_codex_task_skip_audit.md
  prompts/690_codex_task_timeout_integration_test.md
Due: none

feat: enable entry gate runtime and add analysis protocol 688
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/691_phg_entry_gate_runtime_and_skip_audit.md
  docs/v460/692_phg_analysis_protocol_688_cli.md
  scripts/v460/analysis/analysis_common.py
  scripts/v460/analysis/protocols/__init__.py
  scripts/v460/analysis/protocols/protocol_688.py
  scripts/v460/analysis/run_protocol.py
  scripts/v460/lib/cancel_reason_taxonomy.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/entry_gate_guard.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/fill_record_helpers.py
  scripts/v460/lib/multiplicative_pipeline.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_post_cycle.py
  scripts/v460/lib/orchestrator_pre_cycle.py
  scripts/v460/run_fill_test.py
  tests/unit/v460/test_169_config_hot_reload.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_346_fill_config_validation.py
  tests/unit/v460/test_688_timeout_trace_and_skip_audit.py
  tests/unit/v460/test_690_analysis_protocol.py
  tests/unit/v460/test_690_entry_gate_guard.py
  tests/unit/v460/test_690_offset_pipeline.py
  tests/unit/v460/test_690_skip_audit.py
  tests/unit/v460/test_690_timeout_priority.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

690# fix test_516: add budget fields to SkipDecisionResultFields assertions
  docs/v460/690_phg_bucket_skip_budget_and_fill_observability.md
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
Due: type-check, secrets-hygiene, test

refactor: split fill metrics helpers and trim scheduler test overhead
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_sidecar_scheduler_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_group_metrics.py
  ztb/metrics/fill_quality.py
  ztb/metrics/fill_round_trip_metrics.py
Due: type-check, secrets-hygiene, test

refactor: split fill judgment payloads and trim heavy test setup
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_680_ppo_retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
  ztb/metrics/fill_judgment_core.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

refactor: split fill exec monitoring and trim test fixtures
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_enricher_skip_gate.py
  ztb/metrics/fill_exec_monitoring.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

refactor: trim scheduler recoverable error logging
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  scripts/v460/ml/ppo_retrain_scheduler.py
  scripts/v460/ml/sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

fix(693#): entry_gate_guard staleness init bug + test grace period update
  docs/v460/693_cplt_codex_review_and_staleness_fix.md
  scripts/v460/lib/entry_gate_guard.py
  tests/unit/v460/test_690_entry_gate_guard.py
Due: type-check, secrets-hygiene, test

docs(694#): next Codex task plan and 4 task prompts (AS filter, buy CV, protocol type safety, pipeline math)
  docs/v460/694_cplt_next_codex_task_plan.md
  prompts/codex_694_task1_as_trailing_filter.md
  prompts/codex_694_task2_buy_cross_venue.md
  prompts/codex_694_task3_protocol_type_safety.md
  prompts/codex_694_task4_pipeline_test_math.md
Due: none

feat(694#): multi-perspective fill test analysis script
  scripts/v460/analysis/analyze_694_multi_perspective.py
Due: type-check, secrets-hygiene, test

docs(695#): Codex prompts — trend5s counterfactual, spread AS guard, regime AS investigation, fill record enrichment
  prompts/codex_695_task1_trend5s_counterfactual.md
  prompts/codex_695_task2_spread_as_guard.md
  prompts/codex_695_task3_regime_as_investigation.md
  prompts/codex_695_task4_fill_record_enrichment.md
Due: none

feat: add as trailing gate and protocol guards
  configs/v460/fill_test.yaml
  docs/v460/037_phg_rpt_refactoring_session_log.md
  docs/v460/612_phg_test_runtime_optimization_wave1.md
  docs/v460/678_phg_ppo_runtime_type_cleanup_and_unified_smoke.md
  docs/v460/694_cplt_next_codex_task_plan.md
  scripts/v460/analysis/protocols/protocol_688.py
  scripts/v460/analysis/run_protocol.py
  scripts/v460/lib/as_trailing_tracker.py
  scripts/v460/lib/cancel_reason_taxonomy.py
  scripts/v460/lib/config_hot_reload.py
  scripts/v460/lib/fill_config.py
  scripts/v460/lib/fill_config_parser.py
  scripts/v460/lib/fill_config_results.py
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/maker_price.py
  scripts/v460/lib/maker_risk_guards.py
  scripts/v460/lib/multiplicative_pipeline.py
  scripts/v460/lib/offset_pipeline.py
  scripts/v460/lib/skip_gate_evaluator.py
  tests/unit/v460/test_439_cross_venue_lead_lag.py
  tests/unit/v460/test_516_skip_gate_result_fields_migration.py
  tests/unit/v460/test_694_as_trailing_tracker.py
  tests/unit/v460/test_694_cross_venue_buy_protect.py
  tests/unit/v460/test_694_pipeline_math_validation.py
  tests/unit/v460/test_694_protocol_688_type_safety.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_skip_gate_v3.py
  ztb/metrics/fill_quality.py
  ztb/ml/skip_gate_fill_record.py
  ztb/ml/skip_gate_result_fields.py
  ztb/trading/common/cancel_reasons.py
Due: type-check, secrets-hygiene, test
