Repository MakuhariYusuke/zaif-trade-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, secrets-hygiene, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ["--config-file", "mypy.ini"]

  - repo: https://github.com/seddonym/import-linter
    rev: 1.11.1
    hooks:
      - id: import-linter
        files: ^ztb/
        args: ["--config-file", "importlinter.ini"]

  - repo: local
    hooks:
      - id: type-check
        name: Type check with mypy
        entry: mypy
        language: system
        files: \.py$
        args: ["--config-file", "mypy.ini"]

      - id: secrets-hygiene
        name: Check for sensitive data leaks
        entry: python -c "from ztb.utils.redact import is_safe_content; import sys; content = open(sys.argv[1]).read(); sys.exit(0 if is_safe_content(content) else 1)"
        language: system
        files: \.(py|json|yaml|yml)$
        pass_filenames: true

      - id: test
        name: Run unit tests
        entry: npm run test:unit
        language: system
        files: \.(py|ts)$
        pass_filenames: false

476#: docstring/コメント重複解消 + CHANGELOG更新 — satoshi精度・残高連動ロット記述統一
  CHANGELOG.md
  scripts/v460/lib/balance_checker.py
Due: type-check, secrets-hygiene, test

476# docs: 470-476 命名規則統一 + index.md エントリ追加
  docs/v460/470_phg_analysis_fundamental_root_cause.md
  docs/v460/471_phg_rev_470_fundamental_root_cause_deep_dive.md
  docs/v460/473_phg_rev_verification_471_472_claims.md
  docs/v460/474_phg_fix_triple_bugfix_and_orphan_cleanup.md
  docs/v460/475_phg_rev_472_proposals_and_474_selfreview.md
  docs/v460/476_phg_fix_dust_sweep_and_truncation_removal.md
  docs/v460/index.md
Due: none

477# analysis: suppression paradox deep dive (20-layer defense x 17.7% fill rate) + SAC 100K vr02 config
  configs/v460/experiments/g2_sac_reward_clean_100k_vr02.yaml
  docs/v460/477_phg_analysis_suppression_paradox_and_fill_rate.md
  docs/v460/index.md
Due: secrets-hygiene

docs: add 479# review and identification of the liquidity paradox (feasibility constraint)
  docs/v460/479_phg_rev_474_478_feasibility_and_liquidity_paradox.md
Due: none

480# verify: 478/479 review claims verification — cross_venue_veto is true NFQ culprit (83%), 479 'same root' thesis debunked
  docs/v460/478_phg_rev_477_improvements_and_fill_suppression_review.md
  docs/v460/480_phg_verify_478_479_review_claims.md
  docs/v460/index.md
Due: none

481# fix: veto_threshold 6→8bps + min_spread 1000→700 JPY + NFQ log reason tag
  configs/v460/fill_test.yaml
  docs/v460/480_phg_verify_478_479_review_claims.md
  docs/v460/index.md
  scripts/v460/lib/fill_cycle_executor.py
Due: type-check, secrets-hygiene, test

482# impl: SAC 100K×4シード結果 + Seed456 bestデプロイ (OOS ROI=0.60%, PF=1.185, Sharpe=6.21)
  docs/v460/482_phg_impl_sac_100k_vr02_results_and_deploy.md
  docs/v460/index.md
Due: none

482# deep: 481#ドキュメント補完 + SAC深掘り分析 (OOS>Train paradox, reward相関問題, sidecar制約)
  docs/v460/481_phg_fix_veto_spread_nfq_log.md
  docs/v460/482_phg_impl_sac_100k_vr02_results_and_deploy.md
  docs/v460/index.md
Due: none

docs: add 484# verifying 483, identifying OOS paradox, and analyzing sidecar architectural limits
  docs/v460/484_phg_verify_483_sac_paradox_and_sidecar_limits.md
Due: none

docs: add 484# verifying 483, identifying OOS paradox, and analyzing sidecar architectural limits
  docs/v460/484_phg_deep_dive_482_sac_selection_and_live_effect_limits.md
Due: none

docs: re-number 485 to fix conflict with 484, verifying 483/484 and identifying OOS paradox
  docs/v460/484_phg_deep_dive_482_sac_selection_and_live_effect_limits.md
  docs/v460/484_phg_verify_483_sac_paradox_and_sidecar_limits.md
Due: none

docs: add 485# to fix conflict with 484, verifying 483/484 and identifying OOS paradox
  docs/v460/485_phg_verify_483_sac_paradox_and_sidecar_limits.md
Due: none

486# 483-485レビュー検証: 全数値・コード・設定突合、483/484=A、485=B+
  docs/v460/486_phg_verify_483_484_485_review_claims.md
  docs/v460/index.md
Due: none

487# SAC メモリリーク防止 + 重複削減: cleanup_training_resources/create_env_from_config/create_sac_model 統合
  docs/v460/index.md
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/tasks/sac_train.py
  scripts/v460/ml/sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: harden fill test shutdown cleanup and lock tests
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/ob_recorder.py
  scripts/v460/lib/orchestrator_lifecycle.py
  tests/unit/v460/test_135_trades_and_gate.py
  tests/unit/v460/test_166_hotfixes.py
  tests/unit/v460/test_190_ev_weighted_safety.py
  tests/unit/v460/test_286_comprehensive_resolution.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_fill_test_cli_diagnostics.py
  tests/unit/v460/test_ob_recorder.py
  tests/unit/v460/test_regime_detector.py
  ztb/data/trades_recorder.py
Due: type-check, secrets-hygiene, test

487# P0: sidecar attribution observability - add confidence/model_version/signal_status to FillRecord, read_sidecar_signal_with_status, cycle log improvement
  docs/v460/487_phg_fix_sac_memory_leak_and_dedup.md
  docs/v460/index.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_record_builder.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/sidecar_signal_io.py
  ztb/metrics/fill_quality.py
Due: type-check, secrets-hygiene, test

session037: extend cache cleanup and sidecar diagnostics
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/orchestrator_lifecycle.py
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/sidecar_signal_io.py
  scripts/v460/ml/cache_cleanup.py
  tests/unit/v460/test_408_f_series_blindspot.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_fill_test_cli_diagnostics.py
  tests/unit/v460/test_gate_check.py
  tests/unit/v460/test_ml_cache_cleanup.py
  tests/unit/v460/test_sidecar_sac_integration.py
Due: type-check, secrets-hygiene, test

session037: log memory diagnostics and trim retrain paths
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/ml/data_loader.py
  scripts/v460/ml/retrain_scheduler.py
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_fill_test_cli_diagnostics.py
  tests/unit/v460/test_ml_pipeline.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: unify SAC memory cleanup and enrich diagnostics
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/event_logger.py
  scripts/v460/lib/fill_test_cli.py
  scripts/v460/lib/resilience.py
  scripts/v460/lib/sac_common.py
  tests/unit/utils/test_memory_utils.py
  tests/unit/v460/test_health_monitor_resilience.py
  ztb/training/unified_trainer/algorithms/sac_trainer.py
  ztb/utils/memory_utils.py
Due: type-check, secrets-hygiene, test

session037: promote sac cleanup and widen real-data helpers
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/sac_common.py
  tests/unit/utils/test_memory_utils.py
  tests/unit/v460/_real_data_test_helpers.py
  tests/unit/v460/test_ml_pipeline.py
  ztb/utils/memory_utils.py
Due: type-check, secrets-hygiene, test

487# P1: self-review fix (DRY/cache), val_ratio guardrail, sidecar attribution tests
  configs/v460/experiments/g2_sac_reward_clean.yaml
  docs/v460/487_phg_fix_sac_memory_leak_and_dedup.md
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/sac_common.py
  scripts/v460/lib/sidecar_signal_io.py
  tests/unit/v460/test_sidecar_sac_integration.py
Due: type-check, secrets-hygiene, test

session037: cache judgment yaml and trim test overhead
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/analysis/side_regime_dashboard.py
  tests/unit/v460/test_113_resilience.py
  tests/unit/v460/test_160_ab_judgment.py
  tests/unit/v460/test_fill_test_config.py
  tests/unit/v460/test_health_monitor_resilience.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: trim SAC retrain and enricher samples
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_enricher_skip_gate.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

session037: optimize memory monitor and sidecar test reuse
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_build_features_pipeline.py
  tests/unit/v460/test_gate_check.py
  tests/unit/v460/test_sidecar_sac_integration.py
  ztb/training/callbacks/performance/memory_optimizer.py
Due: type-check, secrets-hygiene, test

487# P2: progress log observability - cancel_reason/sidecar/gate block tracking
  docs/v460/487_phg_fix_sac_memory_leak_and_dedup.md
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/fill_loop_orchestrator.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  scripts/v460/lib/orchestrator_post_cycle.py
Due: type-check, secrets-hygiene, test

487# §5: 4-seed SAC experiment results (val_ratio=0.10, 20K steps)
  docs/v460/487_phg_fix_sac_memory_leak_and_dedup.md
Due: none

487# P0hotfix: fix _sidecar_signal NameError + fill test log analysis (§6-§7)
  docs/v460/487_phg_fix_sac_memory_leak_and_dedup.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/orchestrator_mid_cycle.py
Due: type-check, secrets-hygiene, test

session037: add SAC retrain debug summaries
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

488# Fill test パイプライン総合コードレビュー (Codex レビュー用)
  docs/v460/488_phg_fill_pipeline_deep_review.md
Due: none

488#/489# P1 fix: sidecar race condition + cross-venue exception classify
  scripts/v460/lib/fill_cycle_executor.py
  scripts/v460/lib/sidecar_signal_io.py
Due: type-check, secrets-hygiene, test

488# 489#/490#検証反映: §1-§7全面補正 (防御レイヤー監査43+, 優先度再編, 修正済マーク)
  docs/v460/488_phg_fill_pipeline_deep_review.md
Due: none

fix: re-quote place_order引数修正 pair→symbol, amount→quantity, order_type追加
  scripts/v460/lib/fill_cycle_executor.py
Due: type-check, secrets-hygiene, test

fix: hot_swap_restart taskkill stderr→ErrorActionPreference=Continue で捕捉
  ops/windows/hot_swap_restart.ps1
Due: none

fix: P0-3 sigma_floor=0禁止, P1-1 cycle例外分類, P0-2非バグ判定反映
  docs/v460/488_phg_fill_pipeline_deep_review.md
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/lib/orchestrator_mid_cycle.py
  tests/unit/v460/test_346_fill_config_validation.py
Due: type-check, secrets-hygiene, test

session037: align ml real-data test contract
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  tests/unit/v460/test_ml_pipeline.py
Due: type-check, secrets-hygiene, test

session037: split raw recorder flushes by UTC day
  CHANGELOG.md
  docs/v460/037_phg_rpt_refactoring_session_log.md
  scripts/v460/lib/ob_recorder.py
  tests/unit/v460/test_135_trades_and_gate.py
  tests/unit/v460/test_183_log_analysis_improvements.py
  tests/unit/v460/test_fill_quality.py
  tests/unit/v460/test_health_monitor_resilience.py
  tests/unit/v460/test_ob_recorder.py
  ztb/data/raw_paths.py
  ztb/data/trades_recorder.py
Due: type-check, secrets-hygiene, test

491# P0-1 VPIN threshold 0.60→0.80 + sidecar scheduler fix + config validation
  configs/v460/fill_test.yaml
  docs/v460/491_session_remediation_deep_dive.md
  ops/windows/retrain_scheduler.ps1
  scripts/v460/lib/fill_config_validation.py
  scripts/v460/ml/sac_retrain_scheduler.py
  tests/unit/v460/test_346_fill_config_validation.py
Due: type-check, secrets-hygiene, test

491# Turn3: retrain堅牢性4件 + 防御レイヤー定量分析
  docs/v460/491_session_remediation_deep_dive.md
  docs/v460/index.md
  ops/windows/hot_swap_restart.ps1
  ops/windows/retrain_scheduler.ps1
  scripts/v460/ml/sac_retrain_scheduler.py
Due: type-check, secrets-hygiene, test

491# Turn4: Composite Risk Score 実装 (490# Level 2)
  docs/v460/491_session_remediation_deep_dive.md
  docs/v460/index.md
  scripts/v460/lib/cycle_gate_aggregator.py
  scripts/v460/lib/fill_config.py
  tests/unit/v460/test_336_yaml_code_drift_prevention.py
  tests/unit/v460/test_491_composite_risk_score.py
Due: type-check, secrets-hygiene, test
